openapi: 3.0.3
info:
  title: VRChat API Documentation
  version: 1.20.5
  contact:
    name: Unofficial VRChat API Documentation Project
    url: https://github.com/VRChatAPI
    email: vrchatapi.lpv0t@aries.fyi
  termsOfService: https://vrchat.com/legal/
  license:
    url: https://github.com/vrchatapi/specification/blob/master/LICENSE
    name: MIT
  description: |-
    ![VRChat API Banner](https://vrchatapi.github.io/assets/img/api_banner_1500x400.png)

    # Welcome to the VRChat API

    Before we begin, we would like to state this is a **COMMUNITY DRIVEN PROJECT**.
    This means that everything you read on here was written by the community itself and is **not** officially supported by VRChat.
    The documentation is provided "AS IS", and any action you take towards VRChat is completely your own responsibility.

    The documentation and additional libraries SHALL ONLY be used for applications interacting with VRChat's API in accordance
    with their [Terms of Service](https://hello.vrchat.com/legal) and [Community Guidelines](https://hello.vrchat.com/community-guidelines), and MUST NOT be used for modifying the client, "avatar ripping", or other illegal activities.
    Malicious usage or spamming the API may result in account termination.
    Certain parts of the API are also more sensitive than others, for example moderation, so please tread extra carefully and read the warnings when present.

    ![Tupper Policy on API](https://i.imgur.com/yLlW7Ok.png)

    Finally, use of the API using applications other than the approved methods (website, VRChat application, Unity SDK) is not officially supported.
    VRChat provides no guarantee or support for external applications using the API. Access to API endpoints may break **at any time, without notice**.
    Therefore, please **do not ping** VRChat Staff in the VRChat Discord if you are having API problems, as they do not provide API support.
    We will make a best effort in keeping this documentation and associated language libraries up to date, but things might be outdated or missing.
    If you find that something is no longer valid, please contact us on Discord or [create an issue](https://github.com/vrchatapi/specification/issues) and tell us so we can fix it.

    # Getting Started

    The VRChat API can be used to programmatically retrieve or update information regarding your profile, friends, avatars, worlds and more.
    The API consists of two parts, "Photon" which is only used in-game, and the "Web API" which is used by both the game and the website.
    This documentation focuses only on the Web API.

    The API is designed around the REST ideology, providing semi-simple and usually predictable URIs to access and modify objects.
    Requests support standard HTTP methods like GET, PUT, POST, and DELETE and standard status codes.
    Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.

    <div class="callout callout-error">
      <strong>🛑 Warning! Do not touch Photon!</strong><br>
      Photon is only used by the in-game client and should <b>not</b> be touched. Doing so may result in permanent account termination.
    </div>

    <div class="callout callout-info">
      <strong>ℹ️ Authentication</strong><br>
      Read <a href="#tag--authentication">Authentication</a> for how to log in.
    </div>

    # Using the API

    For simply exploring what the API can do it is strongly recommended to download [Insomnia](https://insomnia.rest/download), a free and open-source
    API client that's great for sending requests to the API in an orderly fashion.
    Insomnia allows you to send data in the format that's required for VRChat's API.
    It is also possible to try out the API in your browser, by first logging in at [vrchat.com/home](https://vrchat.com/home/) and then going to
    [vrchat.com/api/1/auth/user](https://vrchat.com/api/1/auth/user), but the information will be much harder to work with.

    For more permanent operation such as software development it is instead recommended to use one of the existing language SDKs.
    This community project maintains API libraries in several languages, which allows you to interact with the API with simple function calls
    rather than having to implement the HTTP protocol yourself. Most of these libraries are automatically generated from the API specification,
    sometimes with additional helpful wrapper code to make usage easier. This allows them to be almost automatically updated and expanded upon
    as soon as a new feature is introduced in the specification itself. The libraries can be found on [GitHub](https://github.com/vrchatapi) or following:

    * [NodeJS (JavaScript)](https://www.npmjs.com/package/vrchat)
    * [Dart](https://pub.dev/packages/vrchat_dart)
    * [Rust](https://crates.io/crates/vrchatapi)
    * [C#](https://github.com/vrchatapi/vrchatapi-csharp)
    * [Python](https://github.com/vrchatapi/vrchatapi-python)

    # Pagination

    Most endpoints enforce pagination, meaning they will only return 10 entries by default, and never more than 100.<br>
    Using both the limit and offset parameters allows you to easily paginate through a large number of objects.

    | Query Parameter | Type | Description |
    | ----------|--|------- |
    | `n` | integer  | The number of objects to return. This value often defaults to 10. Highest limit is always 100.|
    | `offset` | integer  | A zero-based offset from the default object sorting.|

    If a request returns fewer objects than the `limit` parameter, there are no more items available to return.

    # Contribution

    Do you want to get involved in the documentation effort? Do you want to help improve one of the language API libraries?
    This project is an [OPEN Open Source Project](https://openopensource.org)! This means that individuals making significant and valuable contributions are given
    commit-access to the project. It also means we are very open and welcoming of new people making contributions, unlike some more guarded open-source projects.

    [![Discord](https://img.shields.io/static/v1?label=vrchatapi&message=discord&color=blueviolet&style=for-the-badge)](https://discord.gg/qjZE9C9fkB)
servers:
  - url: https://api.vrchat.cloud/api/1
tags:
  - name: authentication
    description: Authentication Docs Here
  - name: avatars
    description: Avatars Docs Here
  - name: calendar
    description: Calendar docs here
  - name: economy
    description: Economy Docs Here
  - name: favorites
    description: Favorites Docs Here
  - name: files
    description: Files Docs Here
  - name: friends
    description: Friends Docs Here
  - name: groups
    description: Group Docs Here
  - name: inventory
    description: The inventory manages collectable items, such as drop bundles and their contents.
  - name: invite
    description: Invite Docs Here
  - name: instances
    description: Instances Docs Here
  - name: jams
    description: Jams Docs Here
  - name: notifications
    description: Notifiations Docs
  - name: playermoderation
    description: |-
      There are two different moderation API's, "moderation" for Staff actions, and "playermoderation" for players.
      PlayerModerations are user-generated actions towards others, such as muting them, blocking, or toggling interaction.

      Your global permission settings are stored locally on your computer.
      Only player-specific moderations (when you target a player, and allow them specifically to interact with you) are stored in the API.

      ## Implementation details

      There are three different user-targetted permission options:

      - Mode 1: interactOn/unmute/unblock
      - Mode 2: interactOff/mute/block
      - *Default setting*

      **Example:**

      Force On (`interactOn`) and Force Off (`interactOff`) always or never allow that person to interact with you.
      These are stored as PlayerModerations. When you select a player and select "Force On", it creates a playerModeration of type `interactOn`.

      **Important order:**

      1. When switching between one mode from the other, e.g. "Force On" and "Force Off", **the previous playerModeration MUST first be deleted before creating the second.**
         The game sends these in sequence, first delete the old, then create the new. Attempting to create both `interactOn` and `interactOff` is UNDOCUMENTED behavior.
      2. "Use Current Setting" **does not have it's own enum**. The game removes any previous playerModeration of same type.
         No playerModeration of either type means fallback to the global setting.

      ## Deprecation notice

      As of October 2022, `showAvatar` and `hideAvatar` has been moved to local storage.
      Sending these types to the API will result in a 200 OK response, but the API will **not** store them.
      More information is avaiable on VRChat's official [documentation on Local Storage](https://docs.vrchat.com/docs/local-vrchat-storage).
  - name: prints
    description: Prints are a way to print photos directly from the VRChat camera.
  - name: props
    description: Props are interactable items users can spawn into instances.
  - name: users
    description: Users Docs Here
  - name: worlds
    description: Worlds Docs Here
  - name: miscellaneous
    description: Miscellaneous endpoints that do not fit into any other category.
paths:
  /Admin/transactions/{transactionId}:
    parameters:
      - $ref: '#/components/parameters/transactionId'
  /Steam/transactions:
    get:
      operationId: getSteamTransactions
      summary: List Steam Transactions
      description: Get all own Steam transactions.
      tags:
        - economy
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/TransactionListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /Steam/transactions/{transactionId}:
    parameters:
      - $ref: '#/components/parameters/transactionId'
    get:
      operationId: getSteamTransaction
      deprecated: true
      summary: Get Steam Transaction
      description: Get a single Steam transactions by ID. This returns the exact same information as `getSteamTransactions`, so no point in using this endpoint.
      tags:
        - economy
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/TransactionResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /adminassetbundles/{adminAssetBundleId}:
    get:
      operationId: getAdminAssetBundle
      summary: Get AdminAssetBundle
      description: Returns an AdminAssetBundle
      tags:
        - files
      parameters:
        - $ref: '#/components/parameters/adminAssetBundleId'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AdminAssetBundleResponse'
  /analysis/{fileId}/{versionId}:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
    get:
      operationId: getFileAnalysis
      summary: Get File Version Analysis
      description: Get the performance analysis for the uploaded assets of an avatar
      tags:
        - files
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileAnalysisResponse'
        '202':
          $ref: '#/components/responses/AnalysisNotYetAvailableError'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
  /analysis/{fileId}/{versionId}/security:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
    get:
      operationId: getFileAnalysisSecurity
      summary: Get File Version Analysis Security
      description: Get the security performance analysis for the uploaded assets of an avatar
      tags:
        - files
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileAnalysisResponse'
        '202':
          $ref: '#/components/responses/AnalysisNotYetAvailableError'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
  /analysis/{fileId}/{versionId}/standard:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
    get:
      operationId: getFileAnalysisStandard
      summary: Get File Version Analysis Standard
      description: Get the standard performance analysis for the uploaded assets of an avatar
      tags:
        - files
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileAnalysisResponse'
        '202':
          $ref: '#/components/responses/AnalysisNotYetAvailableError'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
  /auth:
    get:
      operationId: verifyAuthToken
      summary: Verify Auth Token
      description: Verify whether the currently provided Auth Token is valid.
      tags:
        - authentication
      parameters: []
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/VerifyAuthTokenResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/confirmEmail:
    get:
      operationId: confirmEmail
      summary: Confirm Email
      description: Confirms the email address for a user
      tags:
        - authentication
      parameters:
        - $ref: '#/components/parameters/confirmEmailUserId'
        - $ref: '#/components/parameters/confirmEmailToken'
      responses:
        '302':
          $ref: '#/components/responses/ConfirmEmailResponse'
  /auth/exists:
    get:
      operationId: checkUserExists
      summary: Check User Exists
      description: |-
        Checks if a user by a given `username`, `displayName` or `email` exist. This is used during registration to check if a username has already been taken, during change of displayName to check if a displayName is available, and during change of email to check if the email is already used. In the later two cases the `excludeUserId` is used to exclude oneself, otherwise the result would always be true.

        It is **REQUIRED** to include **AT LEAST** `username`, `displayName` **or** `email` query parameter. Although they can be combined - in addition with `excludeUserId` (generally to exclude yourself) - to further fine-tune the search.
      tags:
        - authentication
      parameters:
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/displayName'
        - $ref: '#/components/parameters/usernameQuery'
        - $ref: '#/components/parameters/excludeUserId'
      responses:
        '200':
          $ref: '#/components/responses/UserExistsResponse'
        '400':
          $ref: '#/components/responses/MissingParameterError'
  /auth/permissions:
    parameters: []
    get:
      operationId: getAssignedPermissions
      summary: Get Assigned Permissions
      description: Returns a list of all permissions currently granted by the user. Permissions are assigned e.g. by subscribing to VRC+.
      tags:
        - miscellaneous
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/PermissionListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/register:
    post:
      operationId: registerUserAccount
      deprecated: true
      summary: Register User Account
      description: |-
        ~~Register a new user account.~~

        **DEPRECATED:** Automated creation of accounts has no legitimate public third-party use case, and would be in violation of ToS §13.2:
        *By using the Platform, you agree not to: i. [...] use the Platform in a manner inconsistent with individual human usage*
        This endpoint is documented in the interest of completeness
      tags:
        - authentication
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserAccountRequest'
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserLoginResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/twofactorauth:
    delete:
      operationId: disable2FA
      summary: Disable 2FA
      description: Disables 2FA for the currently logged in account
      tags:
        - authentication
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Disable2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/twofactorauth/emailotp/verify:
    post:
      operationId: verify2FAEmailCode
      summary: Verify 2FA email code
      description: Finishes the login sequence with an 2FA email code.
      tags:
        - authentication
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TwoFactorEmailCode'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Verify2FAEmailCodeResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/twofactorauth/otp/verify:
    post:
      operationId: verifyRecoveryCode
      summary: Verify 2FA code with Recovery code
      description: Finishes the login sequence with an OTP (One Time Password) recovery code for accounts with 2FA-protection enabled.
      tags:
        - authentication
      requestBody:
        required: true
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TwoFactorAuthCode'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Verify2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/twofactorauth/totp/pending:
    delete:
      operationId: cancelPending2FA
      summary: Cancel pending enabling of time-based 2FA codes
      description: Cancels the sequence for enabling time-based 2FA.
      tags:
        - authentication
      parameters: []
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Disable2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    post:
      operationId: enable2FA
      summary: Enable time-based 2FA codes
      description: Begins the sequence for enabling time-based 2FA.
      tags:
        - authentication
      parameters: []
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Pending2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/twofactorauth/totp/pending/verify:
    post:
      operationId: verifyPending2FA
      summary: Verify Pending 2FA code
      description: Finishes sequence for enabling time-based 2FA.
      tags:
        - authentication
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TwoFactorAuthCode'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Verify2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/twofactorauth/totp/verify:
    post:
      operationId: verify2FA
      summary: Verify 2FA code
      description: Finishes the login sequence with a normal 2FA-generated code for accounts with 2FA-protection enabled.
      tags:
        - authentication
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TwoFactorAuthCode'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Verify2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user:
    get:
      operationId: getCurrentUser
      summary: Login and/or Get Current User Info
      description: |-
        This endpoint does the following two operations:
          1) Checks if you are already logged in by looking for a valid `auth` cookie. If you are have a valid auth cookie then no additional auth-related actions are taken. If you are **not** logged in then it will log you in with the `Authorization` header and set the `auth` cookie. The `auth` cookie will only be sent once.
          2) If logged in, this function will also return the CurrentUser object containing detailed information about the currently logged in user.

        The auth string after `Authorization: Basic {string}` is a base64-encoded string of the username and password, both individually url-encoded, and then joined with a colon.

        > base64(urlencode(username):urlencode(password))

        **WARNING: Session Limit:** Each authentication with login credentials counts as a separate session, out of which you have a limited amount. Make sure to save and reuse the `auth` cookie if you are often restarting the program. The provided API libraries automatically save cookies during runtime, but does not persist during restart. While it can be fine to use username/password during development, expect in production to very fast run into the rate-limit and be temporarily blocked from making new sessions until older ones expire. The exact number of simultaneous sessions is unknown/undisclosed.
      tags:
        - authentication
      parameters: []
      security:
        - authHeader: []
        - authHeader: []
          twoFactorAuthCookie: []
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserLoginResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/avatarmoderations:
    delete:
      operationId: deleteGlobalAvatarModeration
      summary: Delete Global Avatar Moderation
      description: Globally unmoderates an avatar.
      tags:
        - authentication
      parameters:
        - $ref: '#/components/parameters/targetAvatarId'
        - $ref: '#/components/parameters/avatarModerationType'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteAvatarModerationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    get:
      operationId: getGlobalAvatarModerations
      summary: Get Global Avatar Moderations
      description: Returns list of globally moderated avatars.
      tags:
        - authentication
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GetAvatarModerationsResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    post:
      operationId: createGlobalAvatarModeration
      summary: Create Global Avatar Moderation
      description: Globally moderates an avatar.
      tags:
        - authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAvatarModerationRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CreateAvatarModerationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/favoritelimits:
    parameters: []
    get:
      operationId: getFavoriteLimits
      summary: Get Favorite Limits
      description: Return information about a specific Favorite.
      tags:
        - favorites
      parameters: []
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteLimitsResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/friends:
    get:
      operationId: getFriends
      summary: List Friends
      description: List information about friends.
      tags:
        - friends
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offline'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/LimitedUserFriendListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/friends/{userId}:
    parameters:
      - $ref: '#/components/parameters/userId'
    delete:
      operationId: unfriend
      summary: Unfriend
      description: Unfriend a user by ID.
      tags:
        - friends
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/UnfriendSuccess'
        '400':
          $ref: '#/components/responses/NotFriendsError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/notifications:
    get:
      operationId: getNotifications
      summary: List Notifications
      description: Retrieve all of the current user's notifications.
      tags:
        - notifications
      parameters:
        - name: type
          deprecated: true
          description: Only send notifications of this type (can use `all` for all). This parameter no longer does anything, and is deprecated.
          in: query
          schema:
            type: string
            example: all
        - name: sent
          deprecated: true
          description: Return notifications sent by the user. Must be false or omitted.
          in: query
          schema:
            type: boolean
        - name: hidden
          description: Whether to return hidden or non-hidden notifications. True only allowed on type `friendRequest`.
          in: query
          schema:
            type: boolean
        - name: after
          description: Only return notifications sent after this Date. Ignored if type is `friendRequest`.
          in: query
          schema:
            type: string
            example: five_minutes_ago
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/NotificationListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/notifications/clear:
    put:
      operationId: clearNotifications
      summary: Clear All Notifications
      description: Clear **all** notifications.
      tags:
        - notifications
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/ClearNotificationsSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/notifications/{notificationId}:
    parameters:
      - $ref: '#/components/parameters/notificationId'
    get:
      operationId: getNotification
      summary: Show notification
      description: Get a notification by notification `not_` ID.
      tags:
        - notifications
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/NotificationNotFoundError'
  /auth/user/notifications/{notificationId}/accept:
    parameters:
      - $ref: '#/components/parameters/notificationId'
    put:
      operationId: acceptFriendRequest
      summary: Accept Friend Request
      description: Accept a friend request by notification `frq_` ID. Friend requests can be found using the NotificationsAPI `getNotifications` by filtering of type `friendRequest`.
      tags:
        - notifications
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FriendSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AcceptFriendRequestError'
  /auth/user/notifications/{notificationId}/hide:
    parameters:
      - $ref: '#/components/parameters/notificationId'
    put:
      operationId: deleteNotification
      summary: Delete Notification
      description: Delete a notification.
      tags:
        - notifications
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/notifications/{notificationId}/see:
    parameters:
      - $ref: '#/components/parameters/notificationId'
    put:
      operationId: markNotificationAsRead
      summary: Mark Notification As Read
      description: Mark a notification as seen.
      tags:
        - notifications
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/playermoderations:
    delete:
      operationId: clearAllPlayerModerations
      summary: Clear All Player Moderations
      description: ⚠️ **This will delete every single player moderation you've ever made.**
      tags:
        - playermoderation
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationClearAllSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    get:
      operationId: getPlayerModerations
      summary: Search Player Moderations
      description: |-
        Returns a list of all player moderations made by **you**.

        This endpoint does not have pagination, and will return *all* results. Use query parameters to limit your query if needed.
      tags:
        - playermoderation
      parameters:
        - name: type
          description: Must be one of PlayerModerationType.
          in: query
          schema:
            $ref: '#/components/schemas/PlayerModerationType'
        - name: targetUserId
          description: Must be valid UserID.
          in: query
          schema:
            $ref: '#/components/schemas/UserID'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    post:
      operationId: moderateUser
      summary: Moderate User
      description: |-
        Moderate a user, e.g. unmute them or show their avatar.

        Please see the [Player Moderation docs](https://vrchatapi.github.io/docs/api/#tag--playermoderation) on what playerModerations are, and how they differ from staff moderations.
      tags:
        - playermoderation
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerateUserRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/resendEmail:
    post:
      operationId: resendEmailConfirmation
      summary: Resend Email Confirmation
      description: Requests a resend of pending email address confirmation email
      tags:
        - authentication
      parameters: []
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/ResendVerificationEmailSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/subscription:
    get:
      operationId: getCurrentSubscriptions
      summary: Get Current Subscriptions
      description: Get a list of all current user subscriptions.
      tags:
        - economy
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/UserSubscriptionListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/twofactorauth/otp:
    get:
      operationId: getRecoveryCodes
      summary: Get 2FA Recovery codes
      description: Gets the OTP (One Time Password) recovery codes for accounts with 2FA-protection enabled.
      tags:
        - authentication
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Get2FARecoveryCodesResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/unplayermoderate:
    put:
      operationId: unmoderateUser
      summary: Unmoderate User
      description: Removes a player moderation previously added through `moderateUser`. E.g if you previously have shown their avatar, but now want to reset it to default.
      tags:
        - playermoderation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerateUserRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationUnmoderatedSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/verifyLoginPlace:
    get:
      operationId: verifyLoginPlace
      summary: Verify Login Place
      description: Verifies a login attempt for a user
      tags:
        - authentication
      parameters:
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/verifyLoginPlaceToken'
      responses:
        '302':
          $ref: '#/components/responses/VerifyLoginPlaceResponse'
  /avatarStyles:
    get:
      operationId: getAvatarStyles
      summary: Get Avatar Styles
      description: List avatar styles.
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarStyleListResponse'
  /avatars:
    get:
      operationId: searchAvatars
      summary: Search Avatars
      description: Search and list avatars by query filters. You can only search your own or featured avatars. It is not possible as a normal user to search other peoples avatars.
      tags:
        - avatars
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sort'
        - name: user
          description: Set to `me` for searching own avatars.
          required: false
          in: query
          schema:
            type: string
            enum:
              - me
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    post:
      operationId: createAvatar
      summary: Create Avatar
      description: Create an avatar. It's possible to optionally specify a ID if you want a custom one. Attempting to create an Avatar with an already claimed ID will result in a DB error.
      tags:
        - avatars
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAvatarRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '400':
          $ref: '#/components/responses/UnableToCreateAvatarNowError'
        '401':
          $ref: '#/components/responses/FeaturedSetNotAdminError'
  /avatars/favorites:
    get:
      operationId: getFavoritedAvatars
      summary: List Favorited Avatars
      description: Search and list favorited avatars by query filters.
      tags:
        - avatars
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/userIdAdmin'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/AvatarSeeOtherUserFavoritesError'
  /avatars/impostor/queue/stats:
    get:
      operationId: getImpostorQueueStats
      summary: Get Impostor Queue Stats
      description: Gets service stats for queued impostor.
      tags:
        - avatars
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarImpostorQueueStatsResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /avatars/licensed:
    get:
      operationId: getLicensedAvatars
      summary: List Licensed Avatars
      description: List licensed avatars.
      tags:
        - avatars
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /avatars/{avatarId}:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    get:
      operationId: getAvatar
      summary: Get Avatar
      description: Get information about a specific Avatar.
      tags:
        - avatars
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
    put:
      operationId: updateAvatar
      summary: Update Avatar
      description: Update information about a specific avatar.
      tags:
        - avatars
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAvatarRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
    delete:
      operationId: deleteAvatar
      summary: Delete Avatar
      description: Delete an avatar. Notice an avatar is never fully "deleted", only its ReleaseStatus is set to "hidden" and the linked Files are deleted. The AvatarID is permanently reserved.
      tags:
        - avatars
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
  /avatars/{avatarId}/impostor:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    delete:
      operationId: deleteImpostor
      summary: Delete generated Impostor
      description: Delete generated Impostor for that avatar.
      tags:
        - avatars
      security:
        - authCookie: []
      responses:
        '200':
          description: The Impostors generated for that avatar are deleted.
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
  /avatars/{avatarId}/impostor/enqueue:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    post:
      operationId: enqueueImpostor
      summary: Enqueue Impostor generation
      description: Enqueue Impostor generation for that avatar.
      tags:
        - avatars
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarImpostorEnqueueResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
  /avatars/{avatarId}/select:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    put:
      operationId: selectAvatar
      summary: Select Avatar
      description: Switches into that avatar.
      tags:
        - avatars
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
  /avatars/{avatarId}/selectFallback:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    put:
      operationId: selectFallbackAvatar
      deprecated: true
      summary: Select Fallback Avatar
      description: Switches into that avatar as your fallback avatar.
      tags:
        - avatars
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/AvatarNotTaggedAsFallbackError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
  /calendar:
    get:
      operationId: getCalendarEvents
      summary: List calendar events
      description: Get a list of a user's calendar events for the month in ?date
      tags:
        - calendar
      parameters:
        - $ref: '#/components/parameters/monthDate'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /calendar/featured:
    get:
      operationId: getFeaturedCalendarEvents
      summary: List featured calendar events
      description: Get a list of a featured calendar events for the month in ?date
      tags:
        - calendar
      parameters:
        - $ref: '#/components/parameters/monthDate'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /calendar/following:
    get:
      operationId: getFollowedCalendarEvents
      summary: List followed calendar events
      description: Get a list of a followed calendar events for the month in ?date
      tags:
        - calendar
      parameters:
        - $ref: '#/components/parameters/monthDate'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /calendar/search:
    get:
      operationId: searchCalendarEvents
      summary: Search for calendar events
      description: Get a list of calendar events by search terms
      tags:
        - calendar
      parameters:
        - $ref: '#/components/parameters/calendarSearchTerm'
        - $ref: '#/components/parameters/utcOffset'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /calendar/{groupId}:
    get:
      operationId: getGroupCalendarEvents
      summary: List a group's calendar events
      description: Get a list of a group's calendar events
      tags:
        - calendar
      parameters:
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/monthDate'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /calendar/{groupId}/event:
    parameters:
      - $ref: '#/components/parameters/groupId'
    post:
      operationId: createGroupCalendarEvent
      summary: Create a calendar event
      description: Creates an event for a group on the calendar
      tags:
        - calendar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCalendarEventRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /calendar/{groupId}/{calendarId}:
    delete:
      operationId: deleteGroupCalendarEvent
      summary: Delete a calendar event
      description: Delete a group calendar event
      tags:
        - calendar
      parameters:
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/calendarId'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteCalendarEventSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    get:
      operationId: getGroupCalendarEvent
      summary: Get a calendar event
      description: Get a group calendar event
      tags:
        - calendar
      parameters:
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/calendarId'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /calendar/{groupId}/{calendarId}.ics:
    get:
      operationId: getGroupCalendarEventICS
      summary: Download calendar event as ICS
      description: Returns the specified calendar in iCalendar (ICS) format.
      tags:
        - calendar
      parameters:
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/calendarId'
      responses:
        '200':
          $ref: '#/components/responses/ICSResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/ICSNotFoundError'
  /calendar/{groupId}/{calendarId}/event:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/calendarId'
    put:
      operationId: updateGroupCalendarEvent
      summary: Update a calendar event
      description: Updates an event for a group on the calendar
      tags:
        - calendar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCalendarEventRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /calendar/{groupId}/{calendarId}/follow:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/calendarId'
    post:
      operationId: followGroupCalendarEvent
      summary: Follow a calendar event
      description: Follow or unfollow an event on a group's calendar
      tags:
        - calendar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowCalendarEventRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /config:
    get:
      operationId: getConfig
      summary: Fetch API Config
      description: |-
        API config contains configuration that the clients needs to work properly.

        Currently the most important value here is `clientApiKey` which is used for all other API endpoints.
      tags:
        - miscellaneous
      security: []
      responses:
        '200':
          $ref: '#/components/responses/APIConfigResponse'
  /css/app.css:
    get:
      operationId: getCSS
      summary: Download CSS
      description: Fetches the CSS code to the frontend React website.
      tags:
        - miscellaneous
      parameters:
        - $ref: '#/components/parameters/variant'
        - $ref: '#/components/parameters/branch'
      responses:
        '200':
          description: '**Note:** VRChat uses 302 Redirect to Cloudfront. The implementing library **must** support and follow redirects natively.'
          content:
            text/css:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/DownloadSourceCodeAccessError'
  /economy/licenses/active:
    get:
      operationId: getActiveLicenses
      summary: Get Active Licenses
      description: Gets active licenses
      tags:
        - economy
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/LicenseListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /economy/store:
    parameters:
      - $ref: '#/components/parameters/storeId'
      - $ref: '#/components/parameters/hydrateListings'
      - $ref: '#/components/parameters/hydrateProducts'
    get:
      operationId: getStore
      summary: Get Store
      description: Gets a store
      tags:
        - economy
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/StoreResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /economy/store/shelves:
    parameters:
      - $ref: '#/components/parameters/storeId'
      - $ref: '#/components/parameters/hydrateListings'
      - $ref: '#/components/parameters/storeView'
    get:
      operationId: getStoreShelves
      summary: Get Store Shelves
      description: Gets the shelves for a store
      tags:
        - economy
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/StoreShelfListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /favorite/group/{favoriteGroupType}/{favoriteGroupName}/{userId}:
    parameters:
      - $ref: '#/components/parameters/favoriteGroupType'
      - $ref: '#/components/parameters/favoriteGroupName'
      - $ref: '#/components/parameters/userId'
    get:
      operationId: getFavoriteGroup
      summary: Show Favorite Group
      description: Fetch information about a specific favorite group.
      tags:
        - favorites
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroupResponse'
    put:
      operationId: updateFavoriteGroup
      summary: Update Favorite Group
      description: Update information about a specific favorite group.
      tags:
        - favorites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFavoriteGroupRequest'
      security:
        - authCookie: []
      responses:
        '200':
          description: OK
    delete:
      description: Clear ALL contents of a specific favorite group.
      summary: Clear Favorite Group
      operationId: clearFavoriteGroup
      tags:
        - favorites
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroupClearedSuccess'
  /favorite/groups:
    get:
      operationId: getFavoriteGroups
      summary: List Favorite Groups
      description: Return a list of favorite groups owned by a user. Returns the same information as `getFavoriteGroups`.
      tags:
        - favorites
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/userIdAdmin'
        - name: ownerId
          description: The owner of whoms favorite groups to return. Must be a UserID.
          in: query
          schema:
            type: string
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroupListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /favorites:
    get:
      operationId: getFavorites
      summary: List Favorites
      description: Returns a list of favorites.
      tags:
        - favorites
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - name: type
          description: The type of favorites to return, FavoriteType.
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/tag'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    post:
      operationId: addFavorite
      summary: Add Favorite
      description: |-
        Add a new favorite.

        Friend groups are named `group_0` through `group_3`. Avatar and World groups are named `avatars1` to `avatars4` and `worlds1` to `worlds4`.

        You cannot add people whom you are not friends with to your friends list. Destroying a friendship removes the person as favorite on both sides.
      tags:
        - favorites
      requestBody:
        description: ''
        content:
          application/json:
            examples:
              Example Favorite Avatar:
                value:
                  type: avatar
                  favoriteId: avtr_912d66a4-4714-43b8-8407-7de2cafbf55b
                  tags:
                    - avatars1
              Example Favorite Friend:
                value:
                  type: friend
                  favoriteId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                  tags:
                    - group_0
            schema:
              $ref: '#/components/schemas/AddFavoriteRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteResponse'
        '400':
          $ref: '#/components/responses/FavoriteAddAlreadyFavoritedError'
        '403':
          $ref: '#/components/responses/FavoriteAddNotFriendsError'
  /favorites/{favoriteId}:
    parameters:
      - $ref: '#/components/parameters/favoriteId'
    delete:
      operationId: removeFavorite
      summary: Remove Favorite
      description: Remove a favorite from your favorites list.
      tags:
        - favorites
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteRemovedSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/FavoriteNotFoundError'
  /file:
    post:
      operationId: createFile
      summary: Create File
      description: Creates a new File object
      tags:
        - files
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
  /file/image:
    post:
      operationId: uploadImage
      summary: Upload gallery image, icon, emoji or sticker
      description: Upload an image, which can be an icon, gallery image, sticker or emoji
      tags:
        - files
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                animationStyle:
                  type: string
                  description: Animation style for sticker, required for emoji.
                  example: bats
                file:
                  type: string
                  description: The binary blob of the png file.
                  format: binary
                frames:
                  type: integer
                  description: Required for emojianimated. Total number of frames to be animated (2-64)
                framesOverTime:
                  type: integer
                  description: Required for emojianimated. Animation frames per second (1-64)
                maskTag:
                  type: string
                  description: Mask of the sticker, optional for emoji.
                  example: square
                tag:
                  type: string
                  description: Needs to be either icon, gallery, sticker, emoji, or emojianimated
              required:
                - file
                - tag
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
  /file/{fileId}:
    parameters:
      - $ref: '#/components/parameters/fileId'
    get:
      operationId: getFile
      summary: Show File
      description: Shows general information about the "File" object. Each File can have several "Version"'s, and each Version can have multiple real files or "Data" blobs.
      tags:
        - files
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
    post:
      operationId: createFileVersion
      summary: Create File Version
      description: Creates a new FileVersion. Once a Version has been created, proceed to the `/file/{fileId}/{versionId}/file/start` endpoint to start a file upload.
      tags:
        - files
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileVersionRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
    delete:
      operationId: deleteFile
      summary: Delete File
      description: Deletes a File object.
      tags:
        - files
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '404':
          $ref: '#/components/responses/FileDeletedError'
  /file/{fileId}/{versionId}:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
    get:
      operationId: downloadFileVersion
      summary: Download File Version
      description: |-
        Downloads the file with the provided version number.

        **Version Note:** Version 0 is always when the file was created. The real data is usually always located in version 1 and up.

        **Extension Note:** Files are not guaranteed to have a file extensions. UnityPackage files tends to have it, images through this endpoint do not. You are responsible for appending file extension from the `extension` field when neccesary.
      tags:
        - files
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/RawFileResponse'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
    delete:
      operationId: deleteFileVersion
      summary: Delete File Version
      description: Delete a specific version of a file. You can only delete the latest version.
      tags:
        - files
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '400':
          $ref: '#/components/responses/FileVersionDeleteInitialError'
        '500':
          $ref: '#/components/responses/FileVersionDeleteMiddleError'
  /file/{fileId}/{versionId}/{fileType}/finish:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    put:
      operationId: finishFileDataUpload
      summary: Finish FileData Upload
      description: Finish an upload of a FileData. This will mark it as "complete". After uploading the `file` for Avatars and Worlds you then have to upload a `signature` file.
      tags:
        - files
      requestBody:
        description: |-
          Please see documentation on ETag's:
          [https://teppen.io/2018/06/23/aws_s3_etags/](https://teppen.io/2018/06/23/aws_s3_etags/)

          ETag's should NOT be present when uploading a `signature`.
        content:
          application/json:
            examples:
              Example Request:
                value:
                  etags:
                    - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    - yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
                  maxParts: '0'
                  nextPartNumber: '0'
            schema:
              $ref: '#/components/schemas/FinishFileDataUploadRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
  /file/{fileId}/{versionId}/{fileType}/start:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    put:
      operationId: startFileDataUpload
      summary: Start FileData Upload
      description: |-
        Starts an upload of a specific FilePart. This endpoint will return an AWS URL which you can PUT data to. You need to call this and receive a new AWS API URL for each `partNumber`. Please see AWS's REST documentation on "PUT Object to S3" on how to upload. Once all parts has been uploaded, proceed to `/finish` endpoint.

        **Note:** `nextPartNumber` seems like it is always ignored. Despite it returning 0, first partNumber is always 1.
      tags:
        - files
      parameters:
        - name: partNumber
          deprecated: true
          description: The part number to start uploading. If not provided, the first part will be started.
          required: false
          in: query
          schema:
            type: integer
            example: 1
            minimum: 0
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileUploadURLResponse'
        '400':
          $ref: '#/components/responses/FileUploadAlreadyFinishedError'
  /file/{fileId}/{versionId}/{fileType}/status:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    get:
      operationId: getFileDataUploadStatus
      summary: Check FileData Upload Status
      description: Retrieves the upload status for file upload. Can currently only be accessed when `status` is `waiting`. Trying to access it on a file version already uploaded currently times out.
      tags:
        - files
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileVersionUploadStatusResponse'
  /files:
    get:
      operationId: getFiles
      summary: List Files
      description: Returns a list of files
      tags:
        - files
      parameters:
        - name: tag
          description: Tag, for example "icon" or "gallery", not included by default.
          in: query
          schema:
            type: string
            minLength: 1
        - name: userId
          deprecated: true
          description: UserID, will always generate a 500 permission error.
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileListResponse'
  /gallery:
    post:
      operationId: uploadGalleryImage
      summary: Upload gallery image
      description: Upload a gallery image
      tags:
        - files
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: The binary blob of the png file.
                  format: binary
              required:
                - file
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
  /groups:
    get:
      operationId: searchGroups
      summary: Search Group
      description: Searches Groups by name or shortCode
      tags:
        - groups
      parameters:
        - name: query
          description: Query to search for, can be either Group Name or Group shortCode
          required: false
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/number'
      responses:
        '200':
          $ref: '#/components/responses/LimitedGroupListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    post:
      operationId: createGroup
      summary: Create Group
      description: Creates a Group and returns a Group object. **Requires VRC+ Subscription.**
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /groups/roleTemplates:
    get:
      operationId: getGroupRoleTemplates
      summary: Get Group Role Templates
      description: Obtain predefined templates for group roles
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleTemplatesResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /groups/{groupId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroup
      summary: Get Group by ID
      description: Returns a single Group by ID.
      tags:
        - groups
      parameters:
        - name: includeRoles
          description: Include roles for the Group object. Defaults to false.
          required: false
          in: query
          schema:
            type: boolean
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    put:
      operationId: updateGroup
      summary: Update Group
      description: Updates a Group and returns it.
      tags:
        - groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    delete:
      operationId: deleteGroup
      summary: Delete Group
      description: Deletes a Group.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteGroupSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/announcement:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroupAnnouncements
      summary: Get Group Announcement
      description: |-
        Returns the announcement for a Group.
        If no announcement has been made, then it returns **empty object**.
        If an announcement exists, then it will always return all fields except `imageId` and `imageUrl` which may be null.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupAnnouncementResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    post:
      operationId: createGroupAnnouncement
      summary: Create Group Announcement
      description: 'Creates an Announcement for a Group. Warning: This will also remove all announcements. To make proper announcements, use the posts endpoint instead'
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupAnnouncementRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupAnnouncementResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    delete:
      operationId: deleteGroupAnnouncement
      summary: Delete Group Announcement
      description: Deletes the announcement for a Group.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteGroupAnnouncementSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/auditLogs:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroupAuditLogs
      summary: Get Group Audit Logs
      description: Returns a list of audit logs for a Group.
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/actorIds'
        - $ref: '#/components/parameters/eventTypes'
        - $ref: '#/components/parameters/targetIds'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupAuditLogListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/bans:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroupBans
      summary: Get Group Bans
      description: Returns a list of banned users for a Group.
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/NoPermission'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    post:
      operationId: banGroupMember
      summary: Ban Group Member
      description: Bans a user from a Group.
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanGroupMemberRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberResponse'
        '400':
          $ref: '#/components/responses/BanGroupMemberBadRequestError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/bans/{userId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
    delete:
      operationId: unbanGroupMember
      summary: Unban Group Member
      description: Unbans a user from a Group.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/galleries:
    parameters:
      - $ref: '#/components/parameters/groupId'
    post:
      operationId: createGroupGallery
      summary: Create Group Gallery
      description: Creates a gallery for a Group.
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupGalleryRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupGalleryResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/galleries/{groupGalleryId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/groupGalleryId'
    get:
      operationId: getGroupGalleryImages
      summary: Get Group Gallery Images
      description: Returns a list of images for a Group gallery.
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - name: approved
          description: If specified, only returns images that have been approved or not approved.
          required: false
          in: query
          schema:
            type: boolean
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupGalleryImageListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    put:
      operationId: updateGroupGallery
      summary: Update Group Gallery
      description: Updates a gallery for a Group.
      tags:
        - groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupGalleryRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupGalleryResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    delete:
      operationId: deleteGroupGallery
      summary: Delete Group Gallery
      description: Deletes a gallery for a Group.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteGroupGallerySuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/galleries/{groupGalleryId}/images:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/groupGalleryId'
    post:
      operationId: addGroupGalleryImage
      summary: Add Group Gallery Image
      description: Adds an image to a Group gallery.
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddGroupGalleryImageRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupGalleryImageResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/galleries/{groupGalleryId}/images/{groupGalleryImageId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/groupGalleryId'
      - $ref: '#/components/parameters/groupGalleryImageId'
    delete:
      operationId: deleteGroupGalleryImage
      summary: Delete Group Gallery Image
      description: Deletes an image from a Group gallery.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteGroupGalleryImageSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupGalleryImageDeleteForbiddenError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/instances:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroupInstances
      summary: Get Group Instances
      description: Returns a list of group instances
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupInstanceListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/invites:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroupInvites
      summary: Get Group Invites Sent
      description: Returns a list of members that have been invited to the Group.
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    post:
      operationId: createGroupInvite
      summary: Invite User to Group
      description: Sends an invite to a user to join the group.
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupInviteRequest'
      security:
        - authCookie: []
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/GroupInviteBadRequestError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupInviteForbiddenError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/invites/{userId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
    delete:
      operationId: deleteGroupInvite
      summary: Delete User Invite
      description: Deletes an Group invite sent to a User
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/DeleteGroupInviteBadRequestError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /groups/{groupId}/join:
    parameters:
      - $ref: '#/components/parameters/groupId'
    post:
      operationId: joinGroup
      summary: Join Group
      description: Join a Group by ID and returns the member object.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberResponse'
        '400':
          $ref: '#/components/responses/GroupAlreadyMemberError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/leave:
    parameters:
      - $ref: '#/components/parameters/groupId'
    post:
      operationId: leaveGroup
      summary: Leave Group
      description: Leave a group by ID.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          description: OK
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/members:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroupMembers
      summary: List Group Members
      description: |-
        Returns a List of all **other** Group Members. This endpoint will never return the user calling the endpoint.
        Information about the user calling the endpoint must be found in the `myMember` field of the Group object.
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/groupMemberSort'
        - $ref: '#/components/parameters/groupMemberRoleFilter'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberListResponse'
        '400':
          $ref: '#/components/responses/UsersInvalidSearchError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/members/{userId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
    get:
      operationId: getGroupMember
      summary: Get Group Member
      description: Returns a LimitedGroup Member.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupLimitedMemberResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    put:
      operationId: updateGroupMember
      summary: Update Group Member
      description: Updates a Group Member
      tags:
        - groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupMemberRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupLimitedMemberResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    delete:
      operationId: kickGroupMember
      summary: Kick Group Member
      description: Kicks a Group Member from the Group. The current user must have the "Remove Group Members" permission.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/members/{userId}/roles/{groupRoleId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/groupRoleId'
    put:
      operationId: addGroupMemberRole
      summary: Add Role to GroupMember
      description: Adds a Role to a Group Member
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleIDListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    delete:
      operationId: removeGroupMemberRole
      summary: Remove Role from GroupMember
      description: Removes a Role from a Group Member
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleIDListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/permissions:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroupPermissions
      summary: List Group Permissions
      description: Returns a List of all possible/available permissions for a Group.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupPermissionListResponse'
        '400':
          $ref: '#/components/responses/UsersInvalidSearchError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/posts:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroupPosts
      summary: Get posts from a Group
      description: Get posts from a Group
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - name: publicOnly
          description: See public posts only.
          in: query
          schema:
            type: boolean
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupPostsResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    post:
      operationId: addGroupPost
      summary: Create a post in a Group
      description: Create a post in a Group.
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupPostRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupPostResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /groups/{groupId}/posts/{notificationId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/notificationId'
    put:
      operationId: updateGroupPost
      summary: Edits a Group post
      description: Edits a Group post
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupPostRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupPostResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupPostResponseSuccess'
    delete:
      operationId: deleteGroupPost
      summary: Delete a Group post
      description: Delete a Group post
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupPostResponseSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupPostResponseSuccess'
  /groups/{groupId}/representation:
    parameters:
      - $ref: '#/components/parameters/groupId'
    put:
      operationId: updateGroupRepresentation
      summary: Update Group Representation
      description: |-
        Updates whether the user is representing the group.

        When `isRepresenting` is set to `true`, this flag will be set to `false` for all other groups
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isRepresenting:
                  type: boolean
                  description: Whether the user is representing the group.
              required:
                - isRepresenting
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/UpdateGroupRepresentationSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
  /groups/{groupId}/requests:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroupRequests
      summary: Get Group Join Requests
      description: Returns a list of members that have requested to join the Group.
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - name: blocked
          description: See blocked join requests
          in: query
          schema:
            type: boolean
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberListResponse'
        '400':
          $ref: '#/components/responses/GroupJoinRequestResponseBadRequestError'
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    delete:
      operationId: cancelGroupRequest
      summary: Cancel Group Join Request
      description: Cancels a request sent to join the group.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          description: OK
        '400':
          description: You can't cancel a join request if you didn't request to join․
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/requests/{userId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
    put:
      operationId: respondGroupJoinRequest
      summary: Respond Group Join request
      description: Responds to a Group Join Request with Accept/Deny
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondGroupJoinRequest'
      security:
        - authCookie: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/roles:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      operationId: getGroupRoles
      summary: Get Group Roles
      description: Returns a Group Role by ID.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
    post:
      operationId: createGroupRole
      summary: Create GroupRole
      description: Create a Group role.
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRoleRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
  /groups/{groupId}/roles/{groupRoleId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/groupRoleId'
    put:
      operationId: updateGroupRole
      summary: Update Group Role
      description: Updates a group role by ID.
      tags:
        - groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupRoleRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    delete:
      operationId: deleteGroupRole
      summary: Delete Group Role
      description: Deletes a Group Role by ID and returns the remaining roles.
      tags:
        - groups
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotMemberError'
  /health:
    get:
      operationId: getHealth
      deprecated: true
      summary: Check API Health
      description: |-
        ~~Gets the overall health status, the server name, and the current build version tag of the API.~~

        **DEPRECATED:** VRChat has suddenly restricted this endpoint for unknown reasons, and now always return 401 Unauthorized.
      tags:
        - miscellaneous
      security: []
      responses:
        '200':
          $ref: '#/components/responses/APIHealthResponse'
  /icon:
    post:
      operationId: uploadIcon
      summary: Upload icon
      description: Upload an icon
      tags:
        - files
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: The binary blob of the png file.
                  format: binary
              required:
                - file
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
  /infoPush:
    get:
      operationId: getInfoPush
      summary: Show Information Notices
      description: |-
        IPS (Info Push System) is a system for VRChat to push out dynamic information to the client. This is primarily used by the Quick-Menu info banners, but can also be used to e.g. alert you to update your game to the latest version.

        `include` is used to query what Information Pushes should be included in the response. If include is missing or empty, then no notices will normally be returned. This is an "any of" search.

        `require` is used to limit what Information Pushes should be included in the response. This is usually used in combination with `include`, and is an "all of" search.
      tags:
        - miscellaneous
      parameters:
        - $ref: '#/components/parameters/require'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          $ref: '#/components/responses/InfoPushListResponse'
      x-badges:
        - color: gold
          label: 'Status: Early Access (Still Under Development)'
  /instances:
    post:
      operationId: createInstance
      summary: Create Instance
      description: Create an instance
      tags:
        - instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInstanceRequest'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/InstanceResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /instances/recent:
    get:
      operationId: getRecentLocations
      summary: List Recent Locations
      description: Returns a list of recently visited locations.
      tags:
        - instances
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/LocationIDListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /instances/s/{shortName}:
    parameters:
      - name: shortName
        description: Must be a valid instance short name.
        required: true
        in: path
        schema:
          type: string
    get:
      operationId: getInstanceByShortName
      summary: Get Instance By Short Name
[...]
