openapi: 3.0.3
info:
  title: VRChat API Documentation
  version: 1.1.2
  contact:
    name: Unofficial VRChat API Documentation Project
    url: 'https://github.com/VRChatAPI'
    email: me@ruby.js.org
  termsOfService: 'https://vrchat.com/legal/'
  license:
    url: 'https://github.com/vrchatapi/specification/blob/master/LICENSE'
    name: The MIT License (MIT)
  description: "![VRChat API Banner](https://vrchatapi.github.io/assets/img/api_banner_1500x400.png)\n\n# Welcome to the VRChat API\n\nBefore we begin, we would like to state this is a **COMMUNITY DRIVEN PROJECT**.\nThis means that everything you read on here was written by the community itself and is **not** officially supported by VRChat.\nThe documentation is provided \"AS IS\", and any action you take towards VRChat is completely your own responsibility.\n\nThe documentation and additional libraries SHALL ONLY be used for applications interacting with VRChat's API in accordance\nwith their [Terms of Service](https://github.com/VRChatAPI), and MUST NOT be used for modifying the client, \"avatar ripping\", or other illegal activities.\nMalicious usage or spamming the API may result in account termination.\nCertain parts of the API are also more sensitive than others, for example moderation, so please tread extra carefully and read the warnings when present.\n\n![Tupper Policy on API](https://i.imgur.com/yLlW7Ok.png)\n\nFinally, use of the API using applications other than the approved methods (website, VRChat application, Unity SDK) is not officially supported.\nVRChat provides no guarantee or support for external applications using the API. Access to API endpoints may break **at any time, without notice**.\nTherefore, please **do not ping** VRChat Staff in the VRChat Discord if you are having API problems, as they do not provide API support.\nWe will make a best effort in keeping this documentation and associated language libraries up to date, but things might be outdated or missing.\nIf you find that something is no longer valid, please contact us on Discord or [create an issue](https://github.com/vrchatapi/specification/issues) and tell us so we can fix it.\n\n# Getting Started\n\nThe VRChat API can be used to programmatically retrieve or update information regarding your profile, friends, avatars, worlds and more.\nThe API consists of two parts, \"Photon\" which is only used in-game, and the \"Web API\" which is used by both the game and the website.\nThis documentation focuses only on the Web API.\n\nThe API is designed around the REST ideology, providing semi-simple and usually predictable URIs to access and modify objects.\nRequests support standard HTTP methods like GET, PUT, POST, and DELETE and standard status codes.\nResponse bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n\n<div class=\"callout callout-error\">\n  <strong>\U0001F6D1 Warning! Do not touch Photon!</strong><br>\n  Photon is only used by the in-game client and should <b>not</b> be touched. Doing so may result in permanent account termination.\n</div>\n\n<div class=\"callout callout-info\">\n  <strong>ℹ️ API Key and Authentication</strong><br>\n  The API Key has always been the same and is currently <code>JlE5Jldo5Jibnk5O5hTx6XVqsJu4WJ26</code>.\n  Read <a href=\"#tag--authentication\">Authentication</a> for how to log in.\n</div>\n\n# Using the API\n\nFor simply exploring what the API can do it is strongly recommended to download [Insomnia](https://insomnia.rest/download), a free and open-source\nAPI client that's great for sending requests to the API in an orderly fashion.\nInsomnia allows you to send data in the format that's required for VRChat's API.\nIt is also possible to try out the API in your browser, by first logging in at [vrchat.com/home](https://vrchat.com/home/) and then going to\n[vrchat.com/api/1/auth/user](https://vrchat.com/api/1/auth/user), but the information will be much harder to work with.\n\nFor more permanent operation such as software development it is instead recommended to use one of the existing language SDKs.\nThis community project maintains API libraries in several languages, which allows you to interact with the API with simple function calls\nrather than having to implement the HTTP protocol yourself. Most of these libraries are automatically generated from the API specification,\nsometimes with additional helpful wrapper code to make usage easier. This allows them to be almost automatically updated and expanded upon\nas soon as a new feature is introduced in the specification itself. The libraries can be found on [GitHub](https://github.com/vrchatapi) or following:\n\n* [NodeJS (JavaScript)](https://www.npmjs.com/package/vrchat)\n* [Dart](https://pub.dev/packages/vrchat_dart)\n* [Rust](https://crates.io/crates/vrchatapi)\n* [C#](https://github.com/vrchatapi/vrchatapi-csharp)\n* [Python](https://github.com/vrchatapi/VRChatPython)\n\n# Pagination\n\nMost endpoints enforce pagination, meaning they will only return 10 entries by default, and never more than 100.<br>\nUsing both the limit and offset parameters allows you to easily paginate through a large number of objects.\n\n| Query Parameter | Type | Description |\n| ----------|--|------- |\n| `limit` | integer  | The number of objects to return. This value often defaults to 10. Highest limit is always 100.|\n| `offset` | integer  | A zero-based offset from the default object sorting.|\n\nIf a request returns fewer objects than the `limit` parameter, there are no more items available to return.\n\n# Contribution\n\nDo you want to get involved in the documentation effort? Do you want to help improve one of the language API libraries?\nThis project is an [OPEN Open Source Project](https://openopensource.org)! This means that individuals making significant and valuable contributions are given\ncommit-access to the project. It also means we are very open and welcoming of new people making contributions, unlike some more guarded open-source projects.\n\n[![Discord](https://img.shields.io/static/v1?label=vrchatapi&message=discord&color=blueviolet&style=for-the-badge)](https://discord.gg/qjZE9C9fkB)"
servers:
  - url: 'https://api.vrchat.cloud/api/1'
paths:
  /auth:
    $ref: ./components/paths/authentication.yaml#/paths/~1auth
  /logout:
    $ref: ./components/paths/authentication.yaml#/paths/~1logout
  /auth/user:
    $ref: ./components/paths/authentication.yaml#/paths/~1auth~1user
  /auth/twofactorauth/totp/verify:
    $ref: ./components/paths/authentication.yaml#/paths/~1auth~1twofactorauth~1totp~1verify
  /auth/twofactorauth/otp/verify:
    $ref: ./components/paths/authentication.yaml#/paths/~1auth~1twofactorauth~1otp~1verify
  '/user/{userId}/delete':
    $ref: './components/paths/authentication.yaml#/paths/~1user~1{userId}~1delete'
  /users:
    $ref: './components/paths/users.yaml#/paths/~1users'
  '/users/{username}/name':
    $ref: './components/paths/users.yaml#/paths/~1users~1{username}~1name'
  '/users/{userId}':
    $ref: './components/paths/users.yaml#/paths/~1users~1{userId}'
  /users/active:
    $ref: './components/paths/users.yaml#/paths/~1users~1active'
  /health:
    $ref: ./components/paths/system.yaml#/paths/~1health
  /config:
    $ref: ./components/paths/system.yaml#/paths/~1config
  /visits:
    $ref: ./components/paths/system.yaml#/paths/~1visits
  /time:
    $ref: ./components/paths/system.yaml#/paths/~1time
  /auth/user/friends:
    $ref: ./components/paths/friends.yaml#/paths/~1auth~1user~1friends
  '/user/{userId}/friendStatus':
    $ref: ./components/paths/friends.yaml#/paths/~1user~1{userId}~1friendStatus
  '/user/{userId}/friendRequest':
    $ref: ./components/paths/friends.yaml#/paths/~1user~1{userId}~1friendRequest
  '/auth/user/friends/{userId}':
    $ref: ./components/paths/friends.yaml#/paths/~1auth~1user~1friends~1{userId}
  /auth/user/notifications:
    $ref: ./components/paths/notifications.yaml#/paths/~1auth~1user~1notifications
  '/auth/user/notifications/{notificationId}/see':
    $ref: ./components/paths/notifications.yaml#/paths/~1auth~1user~1notifications~1{notificationId}~1see
  '/auth/user/notifications/{notificationId}/hide':
    $ref: ./components/paths/notifications.yaml#/paths/~1auth~1user~1notifications~1{notificationId}~1hide
  '/auth/user/notifications/{notificationId}/accept':
    $ref: ./components/paths/notifications.yaml#/paths/~1auth~1user~1notifications~1{notificationId}~1accept
  /auth/user/notifications/clear:
    $ref: ./components/paths/notifications.yaml#/paths/~1auth~1user~1notifications~1clear
  /files:
    get:
      summary: List Files
      responses:
        '200':
          $ref: ./components/responses/files/FileListResponse.yaml
      operationId: getFiles
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Returns a list of files
      parameters:
        - schema:
            type: string
            minLength: 1
          in: query
          name: tag
          description: 'Tag, for example "icon" or "gallery", not included by default.'
        - schema:
            type: string
          in: query
          name: userId
          deprecated: true
          description: 'UserID, will always generate a 500 permission error.'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      tags:
        - files
  /file:
    post:
      summary: Create File
      tags:
        - files
      responses:
        '200':
          $ref: ./components/responses/files/FileResponse.yaml
      operationId: createFile
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 0
                mimeType:
                  $ref: ./components/schemas/MIMEType.yaml
                extension:
                  type: string
                  minLength: 1
                tags:
                  type: array
                  items:
                    $ref: ./components/schemas/Tag.yaml
              required:
                - name
                - mimeType
                - extension
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Creates a new File object
  '/file/{fileId}':
    parameters:
      - $ref: '#/components/parameters/fileId'
    get:
      summary: Show File
      operationId: getFile
      tags:
        - files
      responses:
        '200':
          $ref: ./components/responses/files/FileResponse.yaml
        '404':
          $ref: ./components/responses/files/FileNotFoundError.yaml
      security:
        - apiKeyCookie: []
          authCookie: []
      description: 'Shows general information about the "File" object. Each File can have several "Version"''s, and each Version can have multiple real files or "Data" blobs.'
    delete:
      summary: Delete File
      operationId: deleteFile
      responses:
        '200':
          $ref: ./components/responses/files/FileDeletedSuccess.yaml
        '404':
          $ref: ./components/responses/files/FileDeletedError.yaml
      tags:
        - files
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Deletes a File object.
    post:
      summary: Create File Version
      operationId: createFileVersion
      responses:
        '200':
          $ref: ./components/responses/files/FileResponse.yaml
      security:
        - apiKeyCookie: []
          authCookie: []
      description: 'Creates a new FileVersion. Once a Version has been created, proceed to the `/file/{fileId}/{versionId}/file/start` endpoint to start a file upload.'
      tags:
        - files
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                signatureMd5:
                  type: string
                  minLength: 1
                signatureSizeInBytes:
                  type: number
                fileMd5:
                  type: string
                  minLength: 1
                fileSizeInBytes:
                  type: number
              required:
                - signatureMd5
                - signatureSizeInBytes
  '/file/{fileId}/{versionId}':
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
    get:
      summary: Download File Version
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/RawFile'
      operationId: downloadFileVersion
      security:
        - apiKeyCookie: []
          authCookie: []
      description: |-
        Downloads the file with the provided version number.

        **Version Note:** Version 0 is always when the file was created. The real data is usually always located in version 1 and up.

        **Extension Note:** Files are not guaranteed to have a file extensions. UnityPackage files tends to have it, images through this endpoint do not. You are responsible for appending file extension from the `extension` field when neccesary.
    delete:
      summary: Delete File Version
      operationId: deleteFileVersion
      responses:
        '200':
          $ref: ./components/responses/files/FileResponse.yaml
        '400':
          $ref: ./components/responses/files/FileVersionDeleteInitialError.yaml
        '500':
          $ref: ./components/responses/files/FileVersionDeleteMiddleError.yaml
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Delete a specific version of a file. You can only delete the latest version.
      tags:
        - files
  '/file/{fileId}/{versionId}/{fileType}/status':
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    get:
      summary: Check FileData Upload Status
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileVersionUploadInfo'
      operationId: getFileDataUploadStatus
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Retrieves the upload status for file upload. Can currently only be accessed when `status` is `waiting`. Trying to access it on a file version already uploaded currently times out.
  '/file/{fileId}/{versionId}/{fileType}/start':
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    put:
      summary: Start FileData Upload
      tags:
        - files
      responses:
        '200':
          description: 'See [https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObject.html](AWS REST docs - PUT Object)'
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  url:
                    type: string
                    minLength: 1
                    description: ''
                required:
                  - url
              examples:
                Example Response:
                  value:
                    url: 'https://s3.amazonaws.com/files.vrchat.cloud/Avatar-MyAvatar-Un.file_00000000-0000-0000-0000-000000000000.1.unitypackage?AWSAccessKeyId=XXXXXXXXXXXXXXXXXXXX&Expires=1626028518&Signature=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&partNumber=1&uploadId=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx..xxxxxxxxxxxxxxxxxxxxxxx'
        '400':
          description: Error response when trying to start an upload against a FileVersion that is already marked as  `complete`.
          content:
            application/json:
              schema:
                $ref: ./components/schemas/Error.yaml
              examples:
                Tried To Upload Against Already Finished Version:
                  value:
                    error:
                      message: Cannot upload against a complete version entry․ Create a new version of this file before uploading․
                      status_code: 400
      operationId: startFileDataUpload
      parameters:
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: partNumber
          required: true
      security:
        - apiKeyCookie: []
          authCookie: []
      description: |-
        Starts an upload of a specific FilePart. This endpoint will return an AWS URL which you can PUT data to. You need to call this and receive a new AWS API URL for each `partNumber`. Please see AWS's REST documentation on "PUT Object to S3" on how to upload. Once all parts has been uploaded, proceed to `/finish` endpoint.

        **Note:** `nextPartNumber` seems like it is always ignored. Despite it returning 0, first partNumber is always 1.
  '/file/{fileId}/{versionId}/{fileType}/finish':
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    put:
      summary: Finish FileData Upload
      tags:
        - files
      responses:
        '200':
          $ref: ./components/responses/files/FileResponse.yaml
      operationId: finishFileDataUpload
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: ''
              properties:
                etags:
                  type: array
                  description: Array of ETags uploaded.
                  minItems: 1
                  uniqueItems: true
                  items:
                    type: string
                nextPartNumber:
                  type: string
                  minLength: 1
                  default: '0'
                  example: '0'
                  deprecated: true
                  description: 'Always a zero in string form, despite how many parts uploaded.'
                  maxLength: 1
                  pattern: '0'
                maxParts:
                  type: string
                  minLength: 1
                  description: 'Always a zero in string form, despite how many parts uploaded.'
                  deprecated: true
                  default: '0'
                  example: '0'
                  maxLength: 1
                  pattern: '0'
              required:
                - nextPartNumber
                - maxParts
            examples:
              Example Request:
                value:
                  etags:
                    - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    - yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
                  nextPartNumber: '0'
                  maxParts: '0'
        description: |-
          Please see documentation on ETag's:
          [https://teppen.io/2018/06/23/aws_s3_etags/](https://teppen.io/2018/06/23/aws_s3_etags/)

          ETag's should NOT be present when uploading a `signature`.
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Finish an upload of a FileData. This will mark it as "complete". After uploading the `file` for Avatars and Worlds you then have to upload a `signature` file.
  /worlds:
    get:
      summary: Search All Worlds
      tags:
        - worlds
      responses:
        '200':
          $ref: '#/components/responses/LimitedWorldList'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      operationId: searchWorlds
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - schema:
            type: string
            enum:
              - me
          in: query
          required: false
          name: user
          description: Set to `me` for searching own worlds.
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
      description: Search and list any worlds by query filters.
    post:
      summary: Create World
      operationId: createWorld
      responses:
        '200':
          $ref: '#/components/responses/World'
        '400':
          $ref: ./components/responses/CreateWorldNotAllowedYetError.yaml
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assetUrl:
                  type: string
                  minLength: 1
                assetVersion:
                  type: string
                  minLength: 1
                authorId:
                  $ref: ./components/schemas/UserID.yaml
                authorName:
                  type: string
                  minLength: 1
                capacity:
                  type: integer
                  minimum: 1
                  maximum: 40
                  default: 16
                  example: 16
                description:
                  type: string
                id:
                  $ref: ./components/schemas/WorldID.yaml
                imageUrl:
                  type: string
                  minLength: 1
                name:
                  type: string
                  minLength: 1
                platform:
                  $ref: ./components/schemas/Platform.yaml
                releaseStatus:
                  $ref: ./components/schemas/ReleaseStatus.yaml
                tags:
                  type: array
                  items:
                    $ref: ./components/schemas/Tag.yaml
                unityPackageUrl:
                  type: string
                  minLength: 1
                unityVersion:
                  type: string
                  minLength: 1
                  default: 5.3.4p1
                  example: 2018.4.20f1
              required:
                - assetUrl
                - imageUrl
                - name
        description: ''
      description: 'Create a new world. This endpoint requires `assetUrl` to be a valid File object with `.vrcw` file extension, and `imageUrl` to be a valid File object with an image file extension.'
      tags:
        - worlds
  /worlds/active:
    get:
      summary: List Active Worlds
      tags:
        - worlds
      responses:
        '200':
          $ref: '#/components/responses/LimitedWorldList'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      operationId: getActiveWorlds
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
      description: Search and list currently Active worlds by query filters.
  /worlds/recent:
    get:
      summary: List Recent Worlds
      tags:
        - worlds
      responses:
        '200':
          $ref: '#/components/responses/LimitedWorldList'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '403':
          $ref: ./components/responses/SeeOtherUserRecentsError.yaml
      operationId: getRecentWorlds
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/userIdAdmin'
      description: Search and list recently visited worlds by query filters.
  /worlds/favorites:
    get:
      summary: List Favorited Worlds
      tags:
        - worlds
      responses:
        '200':
          $ref: '#/components/responses/LimitedWorldList'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '403':
          $ref: ./components/responses/SeeOtherUserFavoritesError.yaml
      operationId: getFavoritedWorlds
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/userIdAdmin'
      description: Search and list favorited worlds by query filters.
  '/worlds/{worldId}':
    parameters:
      - $ref: '#/components/parameters/worldId'
    get:
      summary: Get World by ID
      tags:
        - worlds
      operationId: getWorld
      responses:
        '200':
          $ref: '#/components/responses/World'
        '404':
          $ref: ./components/responses/WorldNotFoundError.yaml
      description: Get information about a specific World.
    put:
      summary: Update World
      operationId: updateWorld
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/World'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/WorldNotFoundError.yaml
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assetUrl:
                  type: string
                  minLength: 1
                assetVersion:
                  type: string
                  minLength: 1
                authorId:
                  $ref: ./components/schemas/UserID.yaml
                authorName:
                  type: string
                  minLength: 1
                capacity:
                  type: integer
                  minimum: 1
                  maximum: 40
                  default: 16
                  example: 16
                description:
                  type: string
                id:
                  $ref: ./components/schemas/WorldID.yaml
                imageUrl:
                  type: string
                  minLength: 1
                name:
                  type: string
                  minLength: 1
                platform:
                  $ref: ./components/schemas/Platform.yaml
                releaseStatus:
                  $ref: ./components/schemas/ReleaseStatus.yaml
                tags:
                  type: array
                  items:
                    $ref: ./components/schemas/Tag.yaml
                unityPackageUrl:
                  type: string
                  minLength: 1
                unityVersion:
                  type: string
                  minLength: 1
                  default: 5.3.4p1
                  example: 2018.4.20f1
      description: Update information about a specific World.
      tags:
        - worlds
    delete:
      summary: Delete World
      operationId: deleteWorld
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          description: OK
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/WorldNotFoundError.yaml
      description: 'Delete a world. Notice a world is never fully "deleted", only its ReleaseStatus is set to "hidden" and the linked Files are deleted. The WorldID is permanently reserved.'
      tags:
        - worlds
  '/worlds/{worldId}/{instanceId}':
    parameters:
      - $ref: '#/components/parameters/worldId'
      - $ref: '#/components/parameters/instanceId'
    get:
      summary: Get World Instance
      tags:
        - worlds
      operationId: getWorldInstance
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Returns a worlds instance.
      responses:
        '200':
          $ref: '#/components/responses/Instance'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
  '/worlds/{worldId}/metadata':
    parameters:
      - $ref: '#/components/parameters/worldId'
    get:
      summary: Get World Metadata
      tags:
        - worlds
      operationId: getWorldMetadata
      security:
        - apiKeyCookie: []
          authCookie: []
      deprecated: true
      description: Return a worlds custom metadata. This is currently believed to be unused. Metadata can be set with `updateWorld` and can be any arbitrary object.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  id:
                    $ref: ./components/schemas/WorldID.yaml
                  metadata:
                    type: object
                    readOnly: true
                required:
                  - id
                  - metadata
                readOnly: true
        '404':
          $ref: ./components/responses/WorldNotFoundError.yaml
  '/worlds/{worldId}/publish':
    parameters:
      - $ref: '#/components/parameters/worldId'
    get:
      summary: Get World Publish Status
      tags:
        - worlds
      operationId: getWorldPublishStatus
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Returns a worlds publish status.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  canPubilsh:
                    type: boolean
                    default: true
                    readOnly: true
                required:
                  - canPubilsh
                readOnly: true
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/WorldNotFoundError.yaml
    put:
      summary: Publish World
      operationId: publishWorld
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          description: TODO
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/WorldNotFoundError.yaml
      description: Publish a world. You can only publish one world per week.
      tags:
        - worlds
    delete:
      summary: Unpublish World
      operationId: unpublishWorld
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          description: OK
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/WorldNotFoundError.yaml
      description: Unpublish a world.
      tags:
        - worlds
  /favorites:
    get:
      summary: List Favorites
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteList'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      operationId: getFavorites
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Returns a list of favorites.
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - schema:
            type: string
          in: query
          name: type
          description: 'The type of favorites to return, FavoriteType.'
        - $ref: '#/components/parameters/tag'
    post:
      summary: Add Favorite
      operationId: addFavorite
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Favorite'
        '400':
          $ref: ./components/responses/FavoriteAddAlreadyFavoritedError.yaml
        '403':
          $ref: ./components/responses/FavoriteAddNotFriendsError.yaml
      description: |-
        Add a new favorite.

        Friend groups are named `group_0` through `group_3`. Avatar and World groups are named `avatars1` to `avatar4` and `worlds1` to `worlds4`.

        You cannot add people whom you are not friends with to your friends list. Destroying a friendship removes the person as favorite on both sides.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  $ref: ./components/schemas/FavoriteType.yaml
                favoriteId:
                  type: string
                  description: 'Must be either AvatarID, WorldID or UserID.'
                tags:
                  type: array
                  description: Tags indicate which group this favorite belongs to. Adding multiple groups makes it show up in all. Removing it from one in that case removes it from all.
                  items:
                    $ref: ./components/schemas/Tag.yaml
              required:
                - type
                - favoriteId
                - tags
            examples:
              Example Favorite Friend:
                value:
                  type: friend
                  favoriteId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                  tags:
                    - group_0
              Example Favorite Avatar:
                value:
                  type: avatar
                  favoriteId: avtr_912d66a4-4714-43b8-8407-7de2cafbf55b
                  tags:
                    - avatars1
        description: ''
      tags:
        - favorites
  '/favorites/{favoriteId}':
    get:
      summary: Show Favorite
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/Favorite'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/FavoriteNotFoundError.yaml
      operationId: getFavorite
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Return information about a specific Favorite.
      parameters: []
    parameters:
      - $ref: '#/components/parameters/favoriteId'
    delete:
      summary: Remove Favorite
      operationId: removeFavorite
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: ./components/responses/FavoriteRemovedSuccess.yaml
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/FavoriteNotFoundError.yaml
      description: Remove a favorite from your favorites list.
      tags:
        - favorites
  /favorite/groups:
    get:
      summary: List Favorite Groups
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroupList'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      operationId: getFavoriteGroups
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - schema:
            type: string
          in: query
          name: ownerId
          description: The owner of whoms favorite groups to return. Must be a UserID.
      description: Return a list of favorite groups owned by a user. Returns the same information as `getFavoriteGroups`.
  '/favorite/group/{favoriteGroupType}/{favoriteGroupName}/{userId}':
    parameters:
      - $ref: '#/components/parameters/favoriteGroupType'
      - $ref: '#/components/parameters/favoriteGroupName'
      - $ref: '#/components/parameters/userId'
    get:
      summary: Show Favorite Group
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroup'
      operationId: getFavoriteGroup
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Fetch information about a specific favorite group.
    put:
      summary: Update Favorite Group
      operationId: updateFavoriteGroup
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                visibility:
                  $ref: ./components/schemas/FavoriteGroupVisibility.yaml
                tags:
                  type: array
                  description: Tags on FavoriteGroups are believed to do nothing.
                  items:
                    $ref: ./components/schemas/Tag.yaml
      tags:
        - favorites
      description: Update information about a specific favorite group.
    delete:
      summary: Clear Favorite Group
      operationId: clearFavoriteGroup
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: ./components/responses/FavoriteGroupClearedSuccess.yaml
      tags:
        - favorites
      description: Clear ALL contents of a specific favorite group.
  /avatars/favorites:
    get:
      summary: List Favorited Avatars
      tags:
        - avatars
      responses:
        '200':
          description: OK
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      operationId: getFavoritedAvatars
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/userIdAdmin'
      description: Search and list favorited avatars by query filters.
  /avatars:
    get:
      summary: Search Avatars
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarList'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      operationId: searchAvatars
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - schema:
            type: string
            enum:
              - me
          in: query
          required: false
          name: user
          description: Set to `me` for searching own avatars.
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
      description: Search and list avatars by query filters. You can only search your own or featured avatars. It is not possible as a normal user to search other peoples avatars.
    post:
      summary: Create Avatar
      operationId: createAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Avatar'
        '401':
          $ref: ./components/responses/FeaturedSetNotAdminError.yaml
      tags:
        - avatars
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                assetUrl:
                  type: string
                id:
                  $ref: ./components/schemas/AvatarID.yaml
                name:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
                tags:
                  type: array
                  items:
                    $ref: ./components/schemas/Tag.yaml
                imageUrl:
                  type: string
                  minLength: 1
                releaseStatus:
                  $ref: ./components/schemas/ReleaseStatus.yaml
                version:
                  type: number
                  minimum: 0
                  default: 1
                featured:
                  type: boolean
                  x-internal: true
                  description: You cannot set featured tag if you are not an admin.
                unityPackageUrl:
                  type: string
              required:
                - name
                - imageUrl
      description: Create an avatar. It's possible to optionally specify a ID if you want a custom one. Attempting to create an Avatar with an already claimed ID will result in a DB error.
  '/avatars/{avatarId}':
    parameters:
      - $ref: '#/components/parameters/avatarId'
    get:
      summary: Get Avatar
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/Avatar'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/AvatarNotFoundError.yaml
      operationId: getAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Get information about a specific Avatar.
    put:
      summary: Update Avatar
      operationId: updateAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Avatar'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/AvatarNotFoundError.yaml
      description: Update information about a specific avatar.
      tags:
        - avatars
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                assetUrl:
                  type: string
                id:
                  $ref: ./components/schemas/AvatarID.yaml
                name:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
                tags:
                  type: array
                  items:
                    $ref: ./components/schemas/Tag.yaml
                imageUrl:
                  type: string
                  minLength: 1
                releaseStatus:
                  $ref: ./components/schemas/ReleaseStatus.yaml
                version:
                  type: number
                  minimum: 0
                  default: 1
                featured:
                  type: boolean
                  x-internal: true
                  description: You cannot set featured tag if you are not an admin.
                unityPackageUrl:
                  type: string
    delete:
      summary: Delete Avatar
      operationId: deleteAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Avatar'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/AvatarNotFoundError.yaml
      tags:
        - avatars
      description: 'Delete an avatar. Notice an avatar is never fully "deleted", only its ReleaseStatus is set to "hidden" and the linked Files are deleted. The AvatarID is permanently reserved.'
  '/avatars/{avatarId}/select':
    parameters:
      - $ref: '#/components/parameters/avatarId'
    put:
      summary: Select Avatar
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/CurrentUser'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/AvatarNotFoundError.yaml
      operationId: selectAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Switches into that avatar.
  /auth/user/playermoderations:
    get:
      summary: Search Player Moderations
      tags:
        - playermoderation
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationList'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      operationId: getPlayerModerations
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - schema:
            type: string
          in: query
          name: type
          description: 'Must be one of PlayerModerationType, except unblock. Unblocking simply removes a block.'
        - schema:
            type: string
          in: query
          name: sourceUserId
          description: Must be valid UserID. Trying to view someone else's moderations results with "Can't view someone else's player moderations" error.
          x-internal: true
        - schema:
            type: string
          in: query
          name: targetUserId
          description: Must be valid UserID.
      description: |-
        Returns a list of all player moderations made by **you**.

        This endpoint does not have pagination, and will return *all* results. Use query parameters to limit your query if needed.
    post:
      summary: Moderate User
      operationId: moderateUser
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/PlayerModeration'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                moderated:
                  $ref: ./components/schemas/UserID.yaml
                type:
                  $ref: ./components/schemas/PlayerModerationType.yaml
              required:
                - moderated
                - type
        description: ''
      description: 'Moderate a user, e.g. unmute them or show their avatar.'
      tags:
        - playermoderation
    delete:
      summary: Clear All Player Moderations
      operationId: clearAllPlayerModerations
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: ./components/responses/OkSuccess.yaml
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      description: ⚠️ **This will delete every single player moderation you've ever made.**
      tags:
        - playermoderation
  /auth/user/unplayermoderate:
    put:
      summary: Unmoderate User
      operationId: unmoderateUser
      security:
        - apiKeyCookie: []
          authCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                moderated:
                  $ref: ./components/schemas/UserID.yaml
                type:
                  $ref: ./components/schemas/PlayerModerationType.yaml
              required:
                - type
      description: 'Removes a player moderation previously added through `moderateUser`. E.g if you previuosly have shown their avatar, but now want to reset it to default.'
      responses:
        '200':
          $ref: ./components/responses/PlayerModerationUnmoderatedSuccess.yaml
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
      tags:
        - playermoderation
  '/auth/user/playermoderations/{playerModerationId}':
    get:
      summary: Get Player Moderation
      tags:
        - playermoderation
      responses:
        '200':
          $ref: '#/components/responses/PlayerModeration'
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '404':
          $ref: ./components/responses/PlayerModerationNotFoundError.yaml
      operationId: getPlayerModeration
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Returns a single Player Moderation. This returns the exact same amount of information as the more generalised `getPlayerModerations`.
    delete:
      summary: Delete Player Moderation
      operationId: deletePlayerModeration
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: ./components/responses/PlayerModerationRemovedSuccess.yaml
        '401':
          $ref: ./components/responses/MissingCredentialsError.yaml
        '403':
          $ref: ./components/responses/PlayerModerationDeleteOthersError.yaml
      description: Deletes a specific player moderation based on it's `pmod_` ID. The website uses `unmoderateUser` instead. You can delete the same player moderation multiple times successfully.
      tags:
        - playermoderation
    parameters:
      - schema:
          type: string
        name: playerModerationId
        in: path
        required: true
  /auth/permissions:
    $ref: ./components/paths/permissions.yaml#/paths/~1auth~1permissions
  /permissions:
    $ref: ./components/paths/permissions.yaml#/paths/~1permissions
  '/permissions/{permissionId}':
    $ref: './components/paths/permissions.yaml#/paths/~1permissions~1{permissionId}'
components:
  schemas: {}
  securitySchemes:
    apiKeyQuery:
      name: apiKey
      type: apiKey
      in: query
      description: API Key via Query
    apiKeyCookie:
      name: apiKey
      type: apiKey
      in: cookie
      description: API Key via Cookie
    authHeader:
      type: http
      scheme: basic
      description: Auth token via Header
    authCookie:
      name: auth
      type: apiKey
      in: cookie
      description: Auth Token via Cookie
    twoFactorAuthCookie:
      name: twoFactorAuth
      type: apiKey
      in: cookie
      description: 2FA device remembrance via Cookie
  responses:
    RawFile:
      description: Raw file
    FileVersionUploadInfo:
      description: 'Current FileVersion upload status. Contains the uploadId needed for uploading, as well as the already uploaded parts.'
      content:
        application/json:
          schema:
            type: object
            description: ''
            properties:
              uploadId:
                type: string
                minLength: 1
                example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx..xxxxxxxxxxxxxxxxxxxxxxx
                readOnly: true
              fileName:
                type: string
                minLength: 1
                example: Avatar-MyAvatar-Un.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                readOnly: true
              nextPartNumber:
                type: number
                minimum: 0
                example: 0
                readOnly: true
              maxParts:
                type: number
                minimum: 1
                example: 1000
                readOnly: true
              parts:
                type: array
                minItems: 0
                items:
                  type: object
                  readOnly: true
                readOnly: true
              etags:
                type: array
                description: Unknown
                minItems: 0
                items:
                  type: object
                  readOnly: true
                readOnly: true
            required:
              - uploadId
              - fileName
              - nextPartNumber
              - maxParts
              - parts
              - etags
            readOnly: true
          examples:
            Example Access Key:
              value:
                uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx..xxxxxxxxxxxxxxxxxxxxxxx
                fileName: Avatar-MyAvatar-Un.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                nextPartNumber: 0
                maxParts: 1000
                parts: []
                etags: []
    LimitedWorldList:
      description: Returns a list of LimitedWorld objects.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: ./components/schemas/LimitedWorld.yaml
    World:
      description: Returns a single World object.
      content:
        application/json:
          schema:
            $ref: ./components/schemas/World.yaml
    Instance:
      description: Returns a single Instance object.
      content:
        application/json:
          schema:
            $ref: ./components/schemas/Instance.yaml
    Favorite:
      description: Returns a single Favorite object.
      content:
        application/json:
          schema:
            $ref: ./components/schemas/Favorite.yaml
    FavoriteList:
      description: Returns a list of Favorite objects.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: ./components/schemas/Favorite.yaml
    FavoriteGroup:
      description: Returns a single FavoriteGroup object.
      content:
        application/json:
          schema:
            $ref: ./components/schemas/FavoriteGroup.yaml
    FavoriteGroupList:
      description: Returns a list of FavoriteGroup objects.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: ./components/schemas/FavoriteGroup.yaml
    AvatarList:
      description: Returns a list of Avatar objects.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: ./components/schemas/Avatar.yaml
    Avatar:
      description: Returns a single Avatar object.
      content:
        application/json:
          schema:
            $ref: ./components/schemas/Avatar.yaml
    CurrentUser:
      description: Returns a single CurrentUser object.
      content:
        application/json:
          schema:
            $ref: ./components/schemas/CurrentUser.yaml
    PlayerModerationList:
      description: Returns a list of PlayerModeration objects.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: ./components/schemas/PlayerModeration.yaml
    PlayerModeration:
      description: Returns a single PlayerModeration object.
      content:
        application/json:
          schema:
            $ref: ./components/schemas/PlayerModeration.yaml
  parameters:
    number:
      name: 'n'
      in: query
      required: false
      schema:
        type: integer
        maximum: 100
        minimum: 1
        default: 60
      description: The number of objects to return.
    offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
      description: A zero-based offset from the default object sorting from where search results start.
    sortOptions:
      name: sort
      in: query
      required: false
      schema:
        title: SortOptions
        type: string
        default: popularity
        enum:
          - popularity
          - heat
          - trust
          - shuffle
          - random
          - favorites
          - reportScore
          - reportCount
          - publicationDate
          - labsPublicationDate
          - created
          - _created_at
          - updated
          - _updated_at
          - order
          - relevance
          - magic
          - name
        example: popularity
        description: How to sort
    orderOptions:
      name: order
      in: query
      required: false
      schema:
        title: OrderOptions
        type: string
        default: descending
        enum:
          - ascending
          - descending
        example: descending
        description: Result ordering
    releaseStatus:
      name: releaseStatus
      in: query
      required: false
      schema:
        type: string
        default: hidden
        enum:
          - public
          - private
          - hidden
        example: hidden
      description: Filter by ReleaseStatus.
    offline:
      name: offline
      in: query
      required: false
      schema:
        type: boolean
      description: 'Returns *only* offline users if true, returns only online and active users if false'
    fileId:
      name: fileId
      in: path
      required: true
      schema:
        type: string
        example: file_00000000-0000-0000-0000-000000000000
        pattern: 'file_[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}'
    versionId:
      name: versionId
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
        example: 1
    fileType:
      name: fileType
      in: path
      required: true
      schema:
        type: string
        enum:
          - file
          - signature
          - delta
        example: file
    userId:
      name: userId
      in: path
      required: true
      schema:
        type: string
    maxUnityVersion:
      name: maxUnityVersion
      in: query
      required: false
      schema:
        type: string
      description: The maximum Unity version supported by the asset.
    minUnityVersion:
      name: minUnityVersion
      in: query
      required: false
      schema:
        type: string
      description: The minimum Unity version supported by the asset.
    platform:
      name: platform
      in: query
      required: false
      schema:
        type: string
      description: The platform the asset supports.
    tag:
      name: tag
      in: query
      required: false
      schema:
        type: string
      description: Tags to include (comma-separated).
    notag:
      name: notag
      in: query
      required: false
      schema:
        type: string
      description: Tags to exclude (comma-separated).
    search:
      name: search
      in: query
      required: false
      schema:
        type: string
      description: Filters by world name.
    userIdQuery:
      name: userId
      in: query
      required: false
      schema:
        type: string
      description: Filter by author UserID
    featured:
      name: featured
      in: query
      required: false
      schema:
        type: string
      description: Filters on featured results.
    userIdAdmin:
      name: userId
      in: query
      required: false
      schema:
        type: string
      description: 'Target user to see information on, admin-only.'
    worldId:
      name: worldId
      in: path
      required: true
      schema:
        type: string
    instanceId:
      name: instanceId
      in: path
      required: true
      schema:
        type: string
    favoriteId:
      name: favoriteId
      in: path
      required: true
      schema:
        type: string
    favoriteGroupType:
      name: favoriteGroupType
      in: path
      required: true
      schema:
        type: string
        enum:
          - world
          - friend
          - avatar
      description: 'The type of group to fetch, must be a valid FavoriteType.'
    favoriteGroupName:
      name: favoriteGroupName
      in: path
      required: true
      schema:
        type: string
    avatarId:
      name: avatarId
      in: path
      required: true
      schema:
        type: string
tags:
  - name: authentication
  - name: avatars
  - name: favorites
  - name: files
  - name: friends
  - name: notifications
  - name: permissions
  - name: playermoderation
  - name: system
  - name: users
  - name: worlds
