openapi: 3.0.3
info:
  title: VRChat API Documentation
  version: 1.6.7
  contact:
    name: Unofficial VRChat API Documentation Project
    url: https://github.com/VRChatAPI
    email: me@ruby.js.org
  termsOfService: https://vrchat.com/legal/
  license:
    url: https://github.com/vrchatapi/specification/blob/master/LICENSE
    name: The MIT License (MIT)
  description: >-
    ![VRChat API
    Banner](https://vrchatapi.github.io/assets/img/api_banner_1500x400.png)


    # Welcome to the VRChat API


    Before we begin, we would like to state this is a **COMMUNITY DRIVEN
    PROJECT**.

    This means that everything you read on here was written by the community
    itself and is **not** officially supported by VRChat.

    The documentation is provided "AS IS", and any action you take towards
    VRChat is completely your own responsibility.


    The documentation and additional libraries SHALL ONLY be used for
    applications interacting with VRChat's API in accordance

    with their [Terms of Service](https://hello.vrchat.com/legal) and [Community
    Guidelines](https://hello.vrchat.com/community-guidelines), and MUST NOT be
    used for modifying the client, "avatar ripping", or other illegal
    activities.

    Malicious usage or spamming the API may result in account termination.

    Certain parts of the API are also more sensitive than others, for example
    moderation, so please tread extra carefully and read the warnings when
    present.


    ![Tupper Policy on API](https://i.imgur.com/yLlW7Ok.png)


    Finally, use of the API using applications other than the approved methods
    (website, VRChat application, Unity SDK) is not officially supported.

    VRChat provides no guarantee or support for external applications using the
    API. Access to API endpoints may break **at any time, without notice**.

    Therefore, please **do not ping** VRChat Staff in the VRChat Discord if you
    are having API problems, as they do not provide API support.

    We will make a best effort in keeping this documentation and associated
    language libraries up to date, but things might be outdated or missing.

    If you find that something is no longer valid, please contact us on Discord
    or [create an issue](https://github.com/vrchatapi/specification/issues) and
    tell us so we can fix it.


    # Getting Started


    The VRChat API can be used to programmatically retrieve or update
    information regarding your profile, friends, avatars, worlds and more.

    The API consists of two parts, "Photon" which is only used in-game, and the
    "Web API" which is used by both the game and the website.

    This documentation focuses only on the Web API.


    The API is designed around the REST ideology, providing semi-simple and
    usually predictable URIs to access and modify objects.

    Requests support standard HTTP methods like GET, PUT, POST, and DELETE and
    standard status codes.

    Response bodies are always UTF-8 encoded JSON objects, unless explicitly
    documented otherwise.


    <div class="callout callout-error">
      <strong>🛑 Warning! Do not touch Photon!</strong><br>
      Photon is only used by the in-game client and should <b>not</b> be touched. Doing so may result in permanent account termination.
    </div>


    <div class="callout callout-info">
      <strong>ℹ️ API Key and Authentication</strong><br>
      The API Key has always been the same and is currently <code>JlE5Jldo5Jibnk5O5hTx6XVqsJu4WJ26</code>.
      Read <a href="#tag--authentication">Authentication</a> for how to log in.
    </div>


    # Using the API


    For simply exploring what the API can do it is strongly recommended to
    download [Insomnia](https://insomnia.rest/download), a free and open-source

    API client that's great for sending requests to the API in an orderly
    fashion.

    Insomnia allows you to send data in the format that's required for VRChat's
    API.

    It is also possible to try out the API in your browser, by first logging in
    at [vrchat.com/home](https://vrchat.com/home/) and then going to

    [vrchat.com/api/1/auth/user](https://vrchat.com/api/1/auth/user), but the
    information will be much harder to work with.


    For more permanent operation such as software development it is instead
    recommended to use one of the existing language SDKs.

    This community project maintains API libraries in several languages, which
    allows you to interact with the API with simple function calls

    rather than having to implement the HTTP protocol yourself. Most of these
    libraries are automatically generated from the API specification,

    sometimes with additional helpful wrapper code to make usage easier. This
    allows them to be almost automatically updated and expanded upon

    as soon as a new feature is introduced in the specification itself. The
    libraries can be found on [GitHub](https://github.com/vrchatapi) or
    following:


    * [NodeJS (JavaScript)](https://www.npmjs.com/package/vrchat)

    * [Dart](https://pub.dev/packages/vrchat_dart)

    * [Rust](https://crates.io/crates/vrchatapi)

    * [C#](https://github.com/vrchatapi/vrchatapi-csharp)

    * [Python](https://github.com/vrchatapi/VRChatPython)


    # Pagination


    Most endpoints enforce pagination, meaning they will only return 10 entries
    by default, and never more than 100.<br>

    Using both the limit and offset parameters allows you to easily paginate
    through a large number of objects.


    | Query Parameter | Type | Description |

    | ----------|--|------- |

    | `n` | integer  | The number of objects to return. This value often
    defaults to 10. Highest limit is always 100.|

    | `offset` | integer  | A zero-based offset from the default object
    sorting.|


    If a request returns fewer objects than the `limit` parameter, there are no
    more items available to return.


    # Contribution


    Do you want to get involved in the documentation effort? Do you want to help
    improve one of the language API libraries?

    This project is an [OPEN Open Source Project](https://openopensource.org)!
    This means that individuals making significant and valuable contributions
    are given

    commit-access to the project. It also means we are very open and welcoming
    of new people making contributions, unlike some more guarded open-source
    projects.


    [![Discord](https://img.shields.io/static/v1?label=vrchatapi&message=discord&color=blueviolet&style=for-the-badge)](https://discord.gg/qjZE9C9fkB)
servers:
  - url: https://api.vrchat.cloud/api/1
paths:
  /auth/exists:
    get:
      summary: Check User Exists
      tags:
        - authentication
      responses:
        '200':
          $ref: '#/components/responses/UserExistsResponse'
        '400':
          $ref: '#/components/responses/MissingParameterError'
      operationId: checkUserExists
      parameters:
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/displayName'
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/excludeUserId'
      description: >-
        Checks if a user by a given `username`, `displayName` or `email` exist.
        This is used during registration to check if a username has already been
        taken, during change of displayName to check if a displayName is
        available, and during change of email to check if the email is already
        used. In the later two cases the `excludeUserId` is used to exclude
        oneself, otherwise the result would always be true.


        It is **REQUIRED** to include **AT LEAST** `username`, `displayName`
        **or** `email` query parameter. Although they can be combined - in
        addition with `excludeUserId` (generally to exclude yourself) - to
        further fine-tune the search.
      security:
        - apiKeyCookie: []
  /auth/user:
    get:
      summary: Login and/or Get Current User Info
      tags:
        - authentication
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserLoginResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getCurrentUser
      description: >-
        This endpoint does the following two operations:
          1) Checks if you are already logged in by looking for a valid `auth` cookie. If you are have a valid auth cookie then no additional auth-related actions are taken. If you are **not** logged in then it will log you in with the `Authorization` header and set the `auth` cookie. The `auth` cookie will only be sent once.
          2) If logged in, this function will also return the CurrentUser object containing detailed information about the currently logged in user.

        **WARNING: Session Limit:** Each authentication with login credentials
        counts as a separate session, out of which you have a limited amount.
        Make sure to save and reuse the `auth` cookie if you are often
        restarting the program. The provided API libraries automatically save
        cookies during runtime, but does not persist during restart. While it
        can be fine to use username/password during development, expect in
        production to very fast run into the rate-limit and be temporarily
        blocked from making new sessions until older ones expire. The exact
        number of simultaneous sessions is unknown/undisclosed.
      parameters: []
      security:
        - authHeader: []
        - authHeader: []
          twoFactorAuthCookie: []
        - authCookie: []
  /auth/twofactorauth/totp/verify:
    post:
      summary: Verify 2FA code
      operationId: verify2FA
      responses:
        '200':
          $ref: '#/components/responses/Verify2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorAuthCode'
            examples: {}
      description: >-
        Finishes the login sequence with a normal 2FA-generated code for
        accounts with 2FA-protection enabled.
      tags:
        - authentication
      security:
        - authCookie: []
      parameters: []
  /auth/twofactorauth/otp/verify:
    post:
      summary: Verify 2FA code with Recovery code
      operationId: verifyRecoveryCode
      responses:
        '200':
          $ref: '#/components/responses/Verify2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorAuthCode'
            examples: {}
      description: >-
        Finishes the login sequence with an OTP (One Time Password) recovery
        code for accounts with 2FA-protection enabled.
      tags:
        - authentication
      security:
        - authCookie: []
  /auth:
    get:
      summary: Verify Auth Token
      tags:
        - authentication
      responses:
        '200':
          $ref: '#/components/responses/VerifyAuthTokenResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: verifyAuthToken
      parameters: []
      description: Verify whether the currently provided Auth Token is valid.
      security:
        - authCookie: []
  /logout:
    put:
      summary: Logout
      operationId: logout
      responses:
        '200':
          $ref: '#/components/responses/LogoutSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      description: Invalidates the login session.
      security:
        - authCookie: []
      tags:
        - authentication
  /user/{userId}/delete:
    parameters:
      - $ref: '#/components/parameters/userId'
    put:
      summary: Delete User
      operationId: deleteUser
      responses:
        '200':
          $ref: '#/components/responses/DeleteUserResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - authentication
      description: >-
        Deletes the account with given ID. Normal users only have permission to
        delete their own account. Account deletion is 14 days from this request,
        and will be cancelled if you do an authenticated request with the
        account afterwards.


        **VRC+ NOTE:** Despite the 14-days cooldown, any VRC+ subscription will
        be cancelled **immediately**.


        **METHOD NOTE:** Despite this being a Delete action, the method type
        required is PUT.
      security:
        - apiKeyCookie: []
          authCookie: []
  /avatars:
    get:
      summary: Search Avatars
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: searchAvatars
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - schema:
            type: string
            enum:
              - me
          in: query
          required: false
          name: user
          description: Set to `me` for searching own avatars.
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
      description: >-
        Search and list avatars by query filters. You can only search your own
        or featured avatars. It is not possible as a normal user to search other
        peoples avatars.
    post:
      summary: Create Avatar
      operationId: createAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/FeaturedSetNotAdminError'
      tags:
        - avatars
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAvatarRequest'
      description: >-
        Create an avatar. It's possible to optionally specify a ID if you want a
        custom one. Attempting to create an Avatar with an already claimed ID
        will result in a DB error.
  /avatars/{avatarId}:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    get:
      summary: Get Avatar
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      operationId: getAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Get information about a specific Avatar.
    put:
      summary: Update Avatar
      operationId: updateAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      description: Update information about a specific avatar.
      tags:
        - avatars
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAvatarRequest'
    delete:
      summary: Delete Avatar
      operationId: deleteAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      tags:
        - avatars
      description: >-
        Delete an avatar. Notice an avatar is never fully "deleted", only its
        ReleaseStatus is set to "hidden" and the linked Files are deleted. The
        AvatarID is permanently reserved.
  /avatars/{avatarId}/select:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    put:
      summary: Select Avatar
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      operationId: selectAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Switches into that avatar.
  /avatars/{avatarId}/selectFallback:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    put:
      summary: Select Fallback Avatar
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/AvatarNotTaggedAsFallbackError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      operationId: selectFallbackAvatar
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Switches into that avatar as your fallback avatar.
  /avatars/favorites:
    get:
      summary: List Favorited Avatars
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/AvatarSeeOtherUserFavoritesError'
      operationId: getFavoritedAvatars
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/userIdAdmin'
      description: Search and list favorited avatars by query filters.
  /Steam/transactions:
    get:
      summary: List Steam Transactions
      operationId: getSteamTransactions
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/TransactionListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Get all own Steam transactions.
  /Steam/transactions/{transactionId}:
    parameters:
      - $ref: '#/components/parameters/transactionId'
    get:
      summary: Get Steam Transaction
      operationId: getSteamTransaction
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/TransactionResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: >-
        Get a single Steam transactions by ID. This returns the exact same
        information as `getSteamTransactions`, so no point in using this
        endpoint.
      deprecated: true
  /Admin/transactions/{transactionId}:
    parameters:
      - $ref: '#/components/parameters/transactionId'
  /auth/user/subscription:
    get:
      summary: Get Current Subscriptions
      operationId: getCurrentSubscriptions
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/UserSubscriptionListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Get a list of all current user subscriptions.
  /subscriptions:
    get:
      summary: List Subscriptions
      operationId: getSubscriptions
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: >-
        List all existing Subscriptions. For example, "vrchatplus-monthly" and
        "vrchatplus-yearly".
  /licenseGroups/{licenseGroupId}:
    parameters:
      - $ref: '#/components/parameters/licenseGroupId'
    get:
      summary: Get License Group
      operationId: getLicenseGroup
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/LicenseGroupResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Get a single License Group by given ID.
  /favorites:
    get:
      summary: List Favorites
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFavorites
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Returns a list of favorites.
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - schema:
            type: string
          in: query
          name: type
          description: The type of favorites to return, FavoriteType.
        - $ref: '#/components/parameters/tag'
    post:
      summary: Add Favorite
      operationId: addFavorite
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteResponse'
        '400':
          $ref: '#/components/responses/FavoriteAddAlreadyFavoritedError'
        '403':
          $ref: '#/components/responses/FavoriteAddNotFriendsError'
      description: >-
        Add a new favorite.


        Friend groups are named `group_0` through `group_3`. Avatar and World
        groups are named `avatars1` to `avatars4` and `worlds1` to `worlds4`.


        You cannot add people whom you are not friends with to your friends
        list. Destroying a friendship removes the person as favorite on both
        sides.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFavoriteRequest'
            examples:
              Example Favorite Friend:
                value:
                  type: friend
                  favoriteId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                  tags:
                    - group_0
              Example Favorite Avatar:
                value:
                  type: avatar
                  favoriteId: avtr_912d66a4-4714-43b8-8407-7de2cafbf55b
                  tags:
                    - avatars1
        description: ''
      tags:
        - favorites
  /favorites/{favoriteId}:
    parameters:
      - $ref: '#/components/parameters/favoriteId'
    get:
      summary: Show Favorite
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/FavoriteNotFoundError'
      operationId: getFavorite
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Return information about a specific Favorite.
      parameters: []
    delete:
      summary: Remove Favorite
      operationId: removeFavorite
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteRemovedSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/FavoriteNotFoundError'
      description: Remove a favorite from your favorites list.
      tags:
        - favorites
  /favorite/groups:
    get:
      summary: List Favorite Groups
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroupListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFavoriteGroups
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - schema:
            type: string
          in: query
          name: ownerId
          description: The owner of whoms favorite groups to return. Must be a UserID.
      description: >-
        Return a list of favorite groups owned by a user. Returns the same
        information as `getFavoriteGroups`.
  /favorite/group/{favoriteGroupType}/{favoriteGroupName}/{userId}:
    parameters:
      - $ref: '#/components/parameters/favoriteGroupType'
      - $ref: '#/components/parameters/favoriteGroupName'
      - $ref: '#/components/parameters/userId'
    get:
      summary: Show Favorite Group
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroupResponse'
      operationId: getFavoriteGroup
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Fetch information about a specific favorite group.
    put:
      summary: Update Favorite Group
      operationId: updateFavoriteGroup
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFavoriteGroupRequest'
      tags:
        - favorites
      description: Update information about a specific favorite group.
    delete:
      summary: Clear Favorite Group
      operationId: clearFavoriteGroup
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroupClearedSuccess'
      tags:
        - favorites
      description: Clear ALL contents of a specific favorite group.
  /files:
    get:
      summary: List Files
      responses:
        '200':
          $ref: '#/components/responses/FileListResponse'
      operationId: getFiles
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Returns a list of files
      parameters:
        - schema:
            type: string
            minLength: 1
          in: query
          name: tag
          description: Tag, for example "icon" or "gallery", not included by default.
        - schema:
            type: string
          in: query
          name: userId
          deprecated: true
          description: UserID, will always generate a 500 permission error.
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      tags:
        - files
  /file:
    post:
      summary: Create File
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
      operationId: createFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileRequest'
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Creates a new File object
  /file/{fileId}:
    parameters:
      - $ref: '#/components/parameters/fileId'
    get:
      summary: Show File
      operationId: getFile
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Shows general information about the "File" object. Each File can have
        several "Version"'s, and each Version can have multiple real files or
        "Data" blobs.
    delete:
      summary: Delete File
      operationId: deleteFile
      responses:
        '200':
          $ref: '#/components/responses/FileDeletedSuccess'
        '404':
          $ref: '#/components/responses/FileDeletedError'
      tags:
        - files
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Deletes a File object.
    post:
      summary: Create File Version
      operationId: createFileVersion
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Creates a new FileVersion. Once a Version has been created, proceed to
        the `/file/{fileId}/{versionId}/file/start` endpoint to start a file
        upload.
      tags:
        - files
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileVersionRequest'
  /file/{fileId}/{versionId}:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
    get:
      summary: Download File Version
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/RawFileResponse'
      operationId: downloadFileVersion
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Downloads the file with the provided version number.


        **Version Note:** Version 0 is always when the file was created. The
        real data is usually always located in version 1 and up.


        **Extension Note:** Files are not guaranteed to have a file extensions.
        UnityPackage files tends to have it, images through this endpoint do
        not. You are responsible for appending file extension from the
        `extension` field when neccesary.
    delete:
      summary: Delete File Version
      operationId: deleteFileVersion
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '400':
          $ref: '#/components/responses/FileVersionDeleteInitialError'
        '500':
          $ref: '#/components/responses/FileVersionDeleteMiddleError'
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Delete a specific version of a file. You can only delete the latest
        version.
      tags:
        - files
  /file/{fileId}/{versionId}/{fileType}/finish:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    put:
      summary: Finish FileData Upload
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
      operationId: finishFileDataUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishFileDataUploadRequest'
            examples:
              Example Request:
                value:
                  etags:
                    - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    - yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
                  nextPartNumber: '0'
                  maxParts: '0'
        description: >-
          Please see documentation on ETag's:

          [https://teppen.io/2018/06/23/aws_s3_etags/](https://teppen.io/2018/06/23/aws_s3_etags/)


          ETag's should NOT be present when uploading a `signature`.
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Finish an upload of a FileData. This will mark it as "complete". After
        uploading the `file` for Avatars and Worlds you then have to upload a
        `signature` file.
  /file/{fileId}/{versionId}/{fileType}/start:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    put:
      summary: Start FileData Upload
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileUploadURLResponse'
        '400':
          $ref: '#/components/responses/FileUploadAlreadyFinishedError'
      operationId: startFileDataUpload
      parameters:
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: partNumber
          required: false
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Starts an upload of a specific FilePart. This endpoint will return an
        AWS URL which you can PUT data to. You need to call this and receive a
        new AWS API URL for each `partNumber`. Please see AWS's REST
        documentation on "PUT Object to S3" on how to upload. Once all parts has
        been uploaded, proceed to `/finish` endpoint.


        **Note:** `nextPartNumber` seems like it is always ignored. Despite it
        returning 0, first partNumber is always 1.
  /file/{fileId}/{versionId}/{fileType}/status:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    get:
      summary: Check FileData Upload Status
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileVersionUploadStatusResponse'
      operationId: getFileDataUploadStatus
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Retrieves the upload status for file upload. Can currently only be
        accessed when `status` is `waiting`. Trying to access it on a file
        version already uploaded currently times out.
  /auth/user/friends:
    get:
      summary: List Friends
      tags:
        - friends
      responses:
        '200':
          $ref: '#/components/responses/LimitedUserListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFriends
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offline'
      description: List information about friends.
  /user/{userId}/friendRequest:
    parameters:
      - $ref: '#/components/parameters/userId'
    post:
      summary: Send Friend Request
      tags:
        - friends
      operationId: friend
      description: Send a friend request to another user.
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/UserDoesntExistError'
    delete:
      summary: Delete Friend Request
      tags:
        - friends
      operationId: deleteFriendRequest
      description: >-
        Deletes an outgoing pending friend request to another user. To delete an
        incoming friend request, use the `deleteNotification` endpoint instead.
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteFriendSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/DeleteFriendRequestError'
  /user/{userId}/friendStatus:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: Check Friend Status
      tags:
        - friends
      responses:
        '200':
          $ref: '#/components/responses/FriendStatusResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFriendStatus
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Retrieve if the user is currently a friend with a given user, if they
        have an outgoing friend request, and if they have an incoming friend
        request. The proper way to receive and accept friend request is by
        checking if the user has an incoming `Notification` of type
        `friendRequest`, and then accepting that notification.
  /auth/user/friends/{userId}:
    parameters:
      - $ref: '#/components/parameters/userId'
    delete:
      summary: Unfriend
      operationId: unfriend
      responses:
        '200':
          $ref: '#/components/responses/UnfriendSuccess'
        '400':
          $ref: '#/components/responses/NotFriendsError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      description: Unfriend a user by ID.
      security:
        - apiKeyCookie: []
          authCookie: []
      tags:
        - friends
  /invite/{userId}:
    parameters:
      - $ref: '#/components/parameters/userId'
    post:
      summary: Invite User
      tags:
        - invite
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '403':
          $ref: '#/components/responses/InviteMustBeFriendsError'
      operationId: inviteUser
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Sends an invite to a user. Returns the Notification of type `invite`
        that was sent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteRequest'
        description: Slot number of the Invite Message to use when inviting a user.
  /requestInvite/{userId}:
    parameters:
      - $ref: '#/components/parameters/userId'
    post:
      summary: Request Invite
      operationId: requestInvite
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Requests an invite from a user. Returns the Notification of type
        `requestInvite` that was sent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestInviteRequest'
        description: Slot number of the Request Message to use when request an invite.
      tags:
        - invite
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '403':
          $ref: '#/components/responses/InviteMustBeFriendsError'
  /invite/{notificationId}/response:
    parameters:
      - $ref: '#/components/parameters/notificationId'
    post:
      summary: Respond Invite
      tags:
        - invite
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '400':
          $ref: '#/components/responses/InviteResponse400Error'
      operationId: respondInvite
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Respond to an invite request by sending a world invite to the requesting
        user. `:notificationId` is the ID of the requesting notification.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteResponse'
        description: Slot number of the Response Message to use when responding to a user.
  /message/{userId}/{messageType}:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/messageType'
    get:
      summary: List Invite Messages
      tags:
        - invite
      responses:
        '200':
          $ref: '#/components/responses/InviteMessageListResponse'
        '400':
          $ref: '#/components/responses/InviteMessageInvalidSlotNumberError'
        '401':
          $ref: '#/components/responses/NotAuthorizedActionError'
      operationId: getInviteMessages
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Returns a list of all the users Invite Messages. Admin Credentials are
        required to view messages of other users!


        Message type refers to a different collection of messages, used during
        different types of responses.


        * `message` = Message during a normal invite

        * `response` = Message when replying to a message

        * `request` = Message when requesting an invite

        * `requestResponse` = Message when replying to a request for invite
  /message/{userId}/{messageType}/{slot}:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/messageType'
      - $ref: '#/components/parameters/slot'
    get:
      summary: Get Invite Message
      tags:
        - invite
      responses:
        '200':
          $ref: '#/components/responses/InviteMessageResponse'
        '400':
          $ref: '#/components/responses/InviteMessageGetNegativeSlotError'
        '401':
          $ref: '#/components/responses/NotAuthorizedActionError'
        '404':
          $ref: '#/components/responses/InviteMessageGetTooHighSlotError'
      operationId: getInviteMessage
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Returns a single Invite Message. This returns the exact same information
        but less than `getInviteMessages`. Admin Credentials are required to
        view messages of other users!


        Message type refers to a different collection of messages, used during
        different types of responses.


        * `message` = Message during a normal invite

        * `response` = Message when replying to a message

        * `request` = Message when requesting an invite

        * `requestResponse` = Message when replying to a request for invite
    put:
      summary: Update Invite Message
      operationId: updateInviteMessage
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Updates a single Invite Message and then returns a list of all of them.
        Admin Credentials are required to update messages of other users!


        Updating a message automatically sets the cooldown timer to 60 minutes.

        Trying to edit a message before the cooldown timer expires results in a
        429 "Too Fast Error".


        Message type refers to a different collection of messages, used during
        different types of responses.


        * `message` = Message during a normal invite

        * `response` = Message when replying to a message

        * `request` = Message when requesting an invite

        * `requestResponse` = Message when replying to a request for invite
      responses:
        '200':
          $ref: '#/components/responses/InviteMessageListResponse'
        '400':
          $ref: '#/components/responses/InviteMessageInvalidSlotNumberError'
        '401':
          $ref: '#/components/responses/NotAuthorizedActionError'
        '429':
          $ref: '#/components/responses/InviteMessageUpdateRateLimitError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInviteMessageRequest'
        description: Message of what to set the invite message to.
      tags:
        - invite
    delete:
      summary: Reset Invite Message
      operationId: resetInviteMessage
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/InviteMessageListResponse'
        '400':
          $ref: '#/components/responses/InviteMessageInvalidSlotNumberError'
        '401':
          $ref: '#/components/responses/NotAuthorizedActionError'
        '404':
          $ref: '#/components/responses/InviteMessageNoEntryForSlotError'
        '429':
          $ref: '#/components/responses/InviteMessageUpdateRateLimitError'
      tags:
        - invite
      description: >-
        Resets a single Invite Message back to its original message, and then
        returns a list of all of them. Admin Credentials are required to update
        messages of other users!


        Resetting a message respects the rate-limit, so it is not possible to
        reset within the 60 minutes countdown.

        Resetting it does however not set the rate-limit to 60 like when editing
        it.

        It is possible to edit it right after resetting it.

        Trying to edit a message before the cooldown timer expires results in a
        429 "Too Fast Error".


        Message type refers to a different collection of messages, used during
        different types of responses.


        * `message` = Message during a normal invite

        * `response` = Message when replying to a message

        * `request` = Message when requesting an invite

        * `requestResponse` = Message when replying to a request for invite


        The DELETE endpoint does not have/require any request body.
  /instances/{worldId}:{instanceId}:
    parameters:
      - $ref: '#/components/parameters/worldId'
      - $ref: '#/components/parameters/instanceId'
    get:
      summary: Get Instance
      tags:
        - instances
      operationId: getInstance
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Returns an instance. Please read [Instances
        Tutorial](https://vrchatapi.github.io/tutorials/instances/) for more
        information on Instances.


        If an invalid instanceId is provided, this endpoint will simply return
        "null"!
      responses:
        '200':
          $ref: '#/components/responses/InstanceResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /instances/{worldId}:{instanceId}/shortName:
    parameters:
      - $ref: '#/components/parameters/worldId'
      - $ref: '#/components/parameters/instanceId'
    get:
      summary: Get Instance Short Name
      tags:
        - instances
      operationId: getShortName
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Returns an instance short name.
      responses:
        '200':
          $ref: '#/components/responses/InstanceShortNameResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /instances/{worldId}:{instanceId}/invite:
    parameters:
      - $ref: '#/components/parameters/worldId'
      - $ref: '#/components/parameters/instanceId'
    post:
      summary: Send Self Invite
      tags:
        - instances
      operationId: sendSelfInvite
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Sends an invite to the instance to yourself.
      responses:
        '200':
          $ref: '#/components/responses/InstanceSelfInviteSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
  /auth/user/notifications:
    get:
      summary: List Notifications
      tags:
        - notifications
      responses:
        '200':
          $ref: '#/components/responses/NotificationListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getNotifications
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Retrieve all of the current user's notifications.
      parameters:
        - schema:
            type: string
            example: all
          in: query
          name: type
          description: Only send notifications of this type (can use `all` for all).
        - schema:
            type: boolean
          in: query
          name: sent
          description: Return notifications sent by the user. Must be false or omitted.
          deprecated: true
        - schema:
            type: boolean
          in: query
          name: hidden
          description: >-
            Whether to return hidden or non-hidden notifications. True only
            allowed on type `friendRequest`.
        - schema:
            type: string
            example: five_minutes_ago
          in: query
          name: after
          description: >-
            Only return notifications sent after this Date. Ignored if type is
            `friendRequest`.
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
  /auth/user/notifications/{notificationId}/accept:
    parameters:
      - $ref: '#/components/parameters/notificationId'
    put:
      summary: Accept Friend Request
      operationId: acceptFriendRequest
      responses:
        '200':
          $ref: '#/components/responses/FriendSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AcceptFriendRequestError'
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Accept a friend request by notification `frq_` ID. Friend requests can
        be found using the NotificationsAPI `getNotifications` by filtering of
        type `friendRequest`.
      tags:
        - notifications
  /auth/user/notifications/{notificationId}/see:
    parameters:
      - $ref: '#/components/parameters/notificationId'
    put:
      summary: Mark Notification As Read
      operationId: markNotificationAsRead
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Mark a notification as seen.
      tags:
        - notifications
  /auth/user/notifications/{notificationId}/hide:
    parameters:
      - $ref: '#/components/parameters/notificationId'
    put:
      summary: Delete Notification
      operationId: deleteNotification
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Delete a notification.
      tags:
        - notifications
  /auth/user/notifications/clear:
    put:
      summary: Clear All Notifications
      operationId: clearNotifications
      responses:
        '200':
          $ref: '#/components/responses/ClearNotificationsSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Clear **all** notifications.
      tags:
        - notifications
  /auth/permissions:
    get:
      summary: Get Assigned Permissions
      operationId: getAssignedPermissions
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/PermissionListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - permissions
      description: >-
        Returns a list of all permissions currently granted by the user.
        Permissions are assigned e.g. by subscribing to VRC+.
    parameters: []
  /permissions/{permissionId}:
    parameters:
      - $ref: '#/components/parameters/permissionId'
    get:
      summary: Get Permission
      tags:
        - permissions
      responses:
        '200':
          $ref: '#/components/responses/PermissionResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getPermission
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Returns a single permission. This endpoint is pretty useless, as it
        returns the exact same information as `/auth/permissions`.
  /auth/user/playermoderations:
    get:
      summary: Search Player Moderations
      tags:
        - playermoderation
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getPlayerModerations
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - schema:
            type: string
          in: query
          name: type
          description: >-
            Must be one of PlayerModerationType, except unblock. Unblocking
            simply removes a block.
        - schema:
            type: string
          in: query
          name: targetUserId
          description: Must be valid UserID.
      description: >-
        Returns a list of all player moderations made by **you**.


        This endpoint does not have pagination, and will return *all* results.
        Use query parameters to limit your query if needed.
    post:
      summary: Moderate User
      operationId: moderateUser
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerateUserRequest'
        description: ''
      description: Moderate a user, e.g. unmute them or show their avatar.
      tags:
        - playermoderation
    delete:
      summary: Clear All Player Moderations
      operationId: clearAllPlayerModerations
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationClearAllSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      description: ⚠️ **This will delete every single player moderation you've ever made.**
      tags:
        - playermoderation
  /auth/user/playermoderations/{playerModerationId}:
    get:
      summary: Get Player Moderation
      tags:
        - playermoderation
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/PlayerModerationNotFoundError'
      operationId: getPlayerModeration
      security:
        - apiKeyCookie: []
          authCookie: []
      description: >-
        Returns a single Player Moderation. This returns the exact same amount
        of information as the more generalised `getPlayerModerations`.
    delete:
      summary: Delete Player Moderation
      operationId: deletePlayerModeration
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationRemovedSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/PlayerModerationDeleteOthersError'
      description: >-
        Deletes a specific player moderation based on it's `pmod_` ID. The
        website uses `unmoderateUser` instead. You can delete the same player
        moderation multiple times successfully.
      tags:
        - playermoderation
    parameters:
      - schema:
          type: string
        name: playerModerationId
        in: path
        required: true
  /auth/user/unplayermoderate:
    put:
      summary: Unmoderate User
      operationId: unmoderateUser
      security:
        - apiKeyCookie: []
          authCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerateUserRequest'
      description: >-
        Removes a player moderation previously added through `moderateUser`. E.g
        if you previously have shown their avatar, but now want to reset it to
        default.
      responses:
        '200':
          $ref: '#/components/responses/PlayerModerationUnmoderatedSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - playermoderation
  /config:
    get:
      summary: Fetch API Config
      tags:
        - system
      responses:
        '200':
          $ref: '#/components/responses/APIConfigResponse'
      operationId: getConfig
      description: >-
        API config contains configuration that the clients needs to work
        properly.


        Currently the most important value here is `clientApiKey` which is used
        for all other API endpoints.
      security: []
  /infoPush:
    get:
      summary: Show Information Notices
      tags:
        - system
      responses:
        '200':
          $ref: '#/components/responses/InfoPushListResponse'
      operationId: getInfoPush
      description: >-
        IPS (Info Push System) is a system for VRChat to push out dynamic
        information to the client. This is primarily used by the Quick-Menu info
        banners, but can also be used to e.g. alert you to update your game to
        the latest version.


        `include` is used to query what Information Pushes should be included in
        the response. If include is missing or empty, then no notices will
        normally be returned. This is an "any of" search.


        `require` is used to limit what Information Pushes should be included in
        the response. This is usually used in combination with `include`, and is
        an "all of" search.
      parameters:
        - $ref: '#/components/parameters/require'
        - $ref: '#/components/parameters/include'
      x-badges:
        - color: gold
          label: 'Status: Early Access (Still Under Development)'
  /css/app.css:
    get:
      summary: Download CSS
      tags:
        - system
      responses:
        '200':
          description: >-
            **Note:** VRChat uses 302 Redirect to Cloudfront. The implementing
            library **must** support and follow redirects natively.
          content:
            text/css:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/DownloadSourceCodeAccessError'
      operationId: getCSS
      description: Fetches the CSS code to the frontend React website.
      parameters:
        - $ref: '#/components/parameters/variant'
        - $ref: '#/components/parameters/branch'
  /js/app.js:
    get:
      summary: Download JavaScript
      tags:
        - system
      responses:
        '200':
          description: >-
            **Note:** VRChat uses 302 Redirect to Cloudfront. The implementing
            library **must** support and follow redirects natively.
          content:
            application/javascript:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/DownloadSourceCodeAccessError'
      operationId: getJavaScript
      description: Fetches the JavaScript code to the frontend React website.
      parameters:
        - $ref: '#/components/parameters/variant'
        - $ref: '#/components/parameters/branch'
  /health:
    get:
      summary: Check API Health
      tags:
        - system
      operationId: getHealth
      description: >-
        ~~Gets the overall health status, the server name, and the current build
        version tag of the API.~~


        **DEPRECATED:** VRChat has suddenly restricted this endpoint for unknown
        reasons, and now always return 401 Unauthorized.
      security: []
      responses:
        '200':
          $ref: '#/components/responses/APIHealthResponse'
      deprecated: true
  /visits:
    get:
      summary: Current Online Users
      tags:
        - system
      responses:
        '200':
          $ref: '#/components/responses/CurrentOnlineUsersResponse'
      operationId: getCurrentOnlineUsers
      security: []
      description: >-
        Returns the current number of online users.


        **NOTE:** The response type is not a JSON object, but a simple JSON
        integer.
  /time:
    get:
      summary: Current System Time
      tags:
        - system
      responses:
        '200':
          $ref: '#/components/responses/SystemTimeResponse'
      operationId: getSystemTime
      description: >-
        Returns the current time of the API server.


        **NOTE:** The response type is not a JSON object, but a simple JSON
        string.
      security: []
  /users:
    get:
      summary: Search All Users
      tags:
        - users
      responses:
        '200':
          $ref: '#/components/responses/LimitedUserListResponse'
        '400':
          $ref: '#/components/responses/UsersInvalidSearchError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: searchUsers
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - schema:
            type: string
            minLength: 0
          in: query
          name: search
          description: >-
            Searches by `displayName`. Will return empty array if search query
            is empty or missing.
        - schema:
            type: string
          in: query
          name: developerType
          description: >-
            Active user by developer type, none for normal users and internal
            for moderators
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      description: Search and list any users by text query
  /users/{username}/name:
    parameters:
      - schema:
          type: string
        name: username
        in: path
        required: true
    get:
      summary: Get User by Username
      tags:
        - users
      responses:
        '200':
          $ref: '#/components/responses/UserResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getUserByName
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Get public user information about a specific user using their name.
  /users/{userId}:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: Get User by ID
      tags:
        - users
      responses:
        '200':
          $ref: '#/components/responses/UserResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getUser
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Get public user information about a specific user using their ID.
    put:
      summary: Update User Info
      operationId: updateUser
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserResponse'
      description: Update a users information such as the email and birthday.
      security:
        - apiKeyCookie: []
          authCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      tags:
        - users
  /worlds:
    get:
      summary: Search All Worlds
      tags:
        - worlds
      responses:
        '200':
          $ref: '#/components/responses/LimitedWorldListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: searchWorlds
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - schema:
            type: string
            enum:
              - me
          in: query
          required: false
          name: user
          description: Set to `me` for searching own worlds.
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
      description: Search and list any worlds by query filters.
    post:
      summary: Create World
      operationId: createWorld
      responses:
        '200':
          $ref: '#/components/responses/WorldResponse'
        '400':
          $ref: '#/components/responses/WorldCreateNotAllowedYetError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorldRequest'
        description: ''
      description: >-
        Create a new world. This endpoint requires `assetUrl` to be a valid File
        object with `.vrcw` file extension, and `imageUrl` to be a valid File
        object with an image file extension.
      tags:
        - worlds
  /worlds/active:
    get:
      summary: List Active Worlds
      tags:
        - worlds
      responses:
        '200':
          $ref: '#/components/responses/LimitedWorldListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getActiveWorlds
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
      description: Search and list currently Active worlds by query filters.
  /worlds/favorites:
    get:
      summary: List Favorited Worlds
      tags:
        - worlds
      responses:
        '200':
          $ref: '#/components/responses/LimitedWorldListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/WorldSeeOtherUserFavoritesError'
      operationId: getFavoritedWorlds
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/userIdAdmin'
      description: Search and list favorited worlds by query filters.
  /worlds/recent:
    get:
      summary: List Recent Worlds
      tags:
        - worlds
      responses:
        '200':
          $ref: '#/components/responses/LimitedWorldListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/WorldSeeOtherUserRecentsError'
      operationId: getRecentWorlds
      security:
        - apiKeyCookie: []
          authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sortOptions'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/orderOptions'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/userIdAdmin'
      description: Search and list recently visited worlds by query filters.
  /worlds/{worldId}:
    parameters:
      - $ref: '#/components/parameters/worldId'
    get:
      summary: Get World by ID
      tags:
        - worlds
      operationId: getWorld
      responses:
        '200':
          $ref: '#/components/responses/WorldResponse'
        '404':
          $ref: '#/components/responses/WorldNotFoundError'
      description: Get information about a specific World.
      security:
        - apiKeyCookie: []
    put:
      summary: Update World
      operationId: updateWorld
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/WorldResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/WorldNotFoundError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorldRequest'
      description: Update information about a specific World.
      tags:
        - worlds
    delete:
      summary: Delete World
      operationId: deleteWorld
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/WorldNotFoundError'
      description: >-
        Delete a world. Notice a world is never fully "deleted", only its
        ReleaseStatus is set to "hidden" and the linked Files are deleted. The
        WorldID is permanently reserved.
      tags:
        - worlds
  /worlds/{worldId}/metadata:
    parameters:
      - $ref: '#/components/parameters/worldId'
    get:
      summary: Get World Metadata
      tags:
        - worlds
      operationId: getWorldMetadata
      security:
        - apiKeyCookie: []
          authCookie: []
      deprecated: true
      description: >-
        Return a worlds custom metadata. This is currently believed to be
        unused. Metadata can be set with `updateWorld` and can be any arbitrary
        object.
      responses:
        '200':
          $ref: '#/components/responses/WorldMetadataResponse'
        '404':
          $ref: '#/components/responses/WorldNotFoundError'
  /worlds/{worldId}/publish:
    parameters:
      - $ref: '#/components/parameters/worldId'
    get:
      summary: Get World Publish Status
      tags:
        - worlds
      operationId: getWorldPublishStatus
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Returns a worlds publish status.
      responses:
        '200':
          $ref: '#/components/responses/WorldPublishStatusResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/WorldNotFoundError'
    put:
      summary: Publish World
      operationId: publishWorld
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          description: TODO
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/WorldNotFoundError'
      description: Publish a world. You can only publish one world per week.
      tags:
        - worlds
    delete:
      summary: Unpublish World
      operationId: unpublishWorld
      security:
        - apiKeyCookie: []
          authCookie: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/WorldNotFoundError'
      description: Unpublish a world.
      tags:
        - worlds
  /worlds/{worldId}/{instanceId}:
    parameters:
      - $ref: '#/components/parameters/worldId'
      - $ref: '#/components/parameters/instanceId'
    get:
      summary: Get World Instance
      tags:
        - worlds
      operationId: getWorldInstance
      security:
        - apiKeyCookie: []
          authCookie: []
      description: Returns a worlds instance.
      responses:
        '200':
          $ref: '#/components/responses/InstanceResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
components:
  schemas:
    UserExists:
      description: >-
        Status object representing if a queried user by username or userId
        exists or not. This model is primarily used by the `/auth/exists`
        endpoint, which in turn is used during registration. Please see the
        documentation on that endpoint for more information on usage.
      properties:
        userExists:
          default: false
          description: Status if a user exist with that username or userId.
          type: boolean
      required:
        - userExists
      title: UserExists
      type: object
    Response:
      properties:
        message:
          minLength: 1
          type: string
        status_code:
          minimum: 100
          type: integer
      required:
        - status_code
      title: Response
      type: object
    Error:
      properties:
        error:
          $ref: '#/components/schemas/Response'
      title: Error
      type: object
    UserID:
      example: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
      title: UserID
      type: string
      description: >-
        A users unique ID, usually in the form of
        `usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469`. Legacy players can have old
        IDs in the form of `8JoV9XEdpo`. The ID can never be changed.
    AvatarID:
      example: avtr_912d66a4-4714-43b8-8407-7de2cafbf55b
      pattern: >-
        avtr_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}
      title: AvatarID
      type: string
    CurrentAvatarImageUrl:
      description: When profilePicOverride is not empty, use it instead.
      example: >-
        https://api.vrchat.cloud/api/1/file/file_ae46d521-7281-4b38-b365-804b32a1d6a7/1/file
      title: CurrentAvatarImageUrl
      type: string
    CurrentAvatarThumbnailImageUrl:
      description: When profilePicOverride is not empty, use it instead.
      example: >-
        https://api.vrchat.cloud/api/1/image/file_aae83ed9-d42d-4d72-9f4b-9f1e41ed17e1/1/256
      title: CurrentAvatarThumbnailImageUrl
      type: string
    DeveloperType:
      default: none
      description: |-
        "none" User is a normal user
        "trusted" Unknown
        "internal" Is a VRChat Developer
        "moderator" Is a VRChat Moderator

        Staff can hide their developerType at will.
      enum:
        - none
        - trusted
        - internal
        - moderator
      title: DeveloperType
      type: string
    WorldID:
      example: wrld_ba913a96-fac4-4048-a062-9aa5db092812
      pattern: >-
        (^$|offline|(wrld|wld)_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})
      title: WorldID
      type: string
      description: >-
        WorldID be "offline" on User profiles if you are not friends with that
        user.
    Platform:
      description: >-
        This can be `standalonewindows` or `android`, but can also pretty much
        be any random Unity verison such as `2019.2.4-801-Release` or
        `2019.2.2-772-Release` or even `unknownplatform`.
      example: standalonewindows
      title: Platform
      type: string
    PastDisplayName:
      properties:
        displayName:
          minLength: 1
          type: string
        updated_at:
          format: date-time
          type: string
      required:
        - displayName
        - updated_at
      title: PastDisplayName
      type: object
    UserState:
      default: offline
      description: |-
        * "online" User is online in VRChat
        * "active" User is online, but not in VRChat
        * "offline" User is offline

        Always offline when returned through `getCurrentUser` (/auth/user).
      enum:
        - offline
        - active
        - online
      title: UserState
      type: string
    UserStatus:
      type: string
      description: >-
        Defines the User's current status, for example "ask me", "join me" or
        "offline. This status is a combined indicator of their online activity
        and privacy preference.
      enum:
        - active
        - join me
        - ask me
        - busy
        - offline
      title: UserStatus
      default: offline
    Tag:
      description: >-
        Tags are a way to grant various access, assign restrictions or other
        kinds of metadata to various to objects such as worlds, users and
        avatars.


        System tags starting with `system_` are granted automatically by the
        system, while admin tags with `admin_` are granted manually. More
        prefixes such as `language_ ` (to indicate that a player can speak the
        tagged language), and `author_tag_` (provided by a world author for
        search and sorting) exist as well.
      minLength: 1
      title: Tag
      type: string
    CurrentUser:
      properties:
        acceptedTOSVersion:
          minimum: 0
          example: 7
          type: integer
        accountDeletionDate:
          format: date
          nullable: true
          type: string
        activeFriends:
          items:
            $ref: '#/components/schemas/UserID'
          type: array
        allowAvatarCopying:
          type: boolean
        bio:
          type: string
        bioLinks:
          items:
            type: string
          type: array
        currentAvatar:
          $ref: '#/components/schemas/AvatarID'
        currentAvatarAssetUrl:
          type: string
        currentAvatarImageUrl:
          $ref: '#/components/schemas/CurrentAvatarImageUrl'
        currentAvatarThumbnailImageUrl:
          $ref: '#/components/schemas/CurrentAvatarThumbnailImageUrl'
        date_joined:
          format: date
          type: string
        developerType:
          $ref: '#/components/schemas/DeveloperType'
        displayName:
          type: string
        emailVerified:
          type: boolean
        fallbackAvatar:
          $ref: '#/components/schemas/AvatarID'
        friendGroupNames:
          deprecated: true
          description: Always empty array.
          items:
            type: string
          type: array
        friendKey:
          type: string
        friends:
          items:
            $ref: '#/components/schemas/UserID'
          type: array
        hasBirthday:
          type: boolean
        hasEmail:
          type: boolean
        hasLoggedInFromClient:
          type: boolean
        hasPendingEmail:
          type: boolean
        homeLocation:
          $ref: '#/components/schemas/WorldID'
        id:
          $ref: '#/components/schemas/UserID'
        isFriend:
          default: false
          type: boolean
        last_login:
          format: date-time
          type: string
        last_platform:
          $ref: '#/components/schemas/Platform'
        obfuscatedEmail:
          type: string
        obfuscatedPendingEmail:
          type: string
        oculusId:
          type: string
        offlineFriends:
          items:
            $ref: '#/components/schemas/UserID'
          type: array
        onlineFriends:
          items:
            $ref: '#/components/schemas/UserID'
          type: array
        pastDisplayNames:
          description: ' '
          items:
            $ref: '#/components/schemas/PastDisplayName'
          type: array
        profilePicOverride:
          type: string
        state:
          $ref: '#/components/schemas/UserState'
        status:
          $ref: '#/components/schemas/UserStatus'
        statusDescription:
          type: string
        statusFirstTime:
          type: boolean
        statusHistory:
          items:
            type: string
          type: array
        steamDetails:
          type: object
        steamId:
          type: string
        tags:
          items:
            $ref: '#/components/schemas/Tag'
          type: array
        twoFactorAuthEnabled:
          type: boolean
        unsubscribe:
          type: boolean
        userIcon:
          type: string
        username:
          type: string
      required:
        - id
        - username
        - displayName
        - userIcon
        - bio
        - bioLinks
        - profilePicOverride
        - statusDescription
        - pastDisplayNames
        - hasEmail
        - hasPendingEmail
        - obfuscatedEmail
        - obfuscatedPendingEmail
        - emailVerified
        - hasBirthday
        - unsubscribe
        - statusHistory
        - statusFirstTime
        - friends
        - friendGroupNames
        - currentAvatarImageUrl
        - currentAvatarThumbnailImageUrl
        - currentAvatar
        - currentAvatarAssetUrl
        - acceptedTOSVersion
        - steamId
        - steamDetails
        - oculusId
        - hasLoggedInFromClient
        - homeLocation
        - twoFactorAuthEnabled
        - state
        - tags
        - developerType
        - last_login
        - last_platform
        - allowAvatarCopying
        - status
        - date_joined
        - isFriend
        - friendKey
      title: CurrentUser
      type: object
    TwoFactorAuthCode:
      title: TwoFactorAuthCode
      type: object
      properties:
        code:
          type: string
      required:
        - code
    Verify2FAResult:
      title: Verify2FAResult
      type: object
      properties:
        verified:
          type: boolean
      required:
        - verified
    VerifyAuthTokenResult:
      title: VerifyAuthToken
      type: object
      properties:
        ok:
          type: boolean
        token:
          type: string
          minLength: 1
      required:
        - ok
        - token
    Success:
      properties:
        success:
          $ref: '#/components/schemas/Response'
      title: Success
      type: object
    ReleaseStatus:
      type: string
      default: public
      enum:
        - public
        - private
        - hidden
      title: ReleaseStatus
      example: public
    UnityPackageID:
      example: unp_52b12c39-4163-457d-a4a9-630e7aff1bff
      pattern: >-
        (unp)_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}
      title: UnityPackageID
      type: string
    UnityPackage:
      description: ''
      example:
        assetUrl: >-
          https://api.vrchat.cloud/api/1/file/file_cd0caa7b-69ba-4715-8dfe-7d667a9d2537/65/file
        assetUrlObject: {}
        assetVersion: 4
        created_at: 2020-09-10T06:13:27.777Z
        id: unp_52b12c39-4163-457d-a4a9-630e7aff1bff
        platform: standalonewindows
        pluginUrl: ''
        pluginUrlObject: {}
        unitySortNumber: 20180414000
        unityVersion: 2018.4.14f1
      properties:
        assetUrl:
          minLength: 1
          type: string
        assetUrlObject:
          type: object
        assetVersion:
          minimum: 0
          type: integer
        created_at:
          format: date-time
          type: string
        id:
          $ref: '#/components/schemas/UnityPackageID'
        platform:
          $ref: '#/components/schemas/Platform'
        pluginUrl:
          type: string
        pluginUrlObject:
          type: object
        unitySortNumber:
          minimum: 0
          type: integer
        unityVersion:
          default: 5.3.4p1
          example: 2018.4.12f1
          minLength: 1
          type: string
      required:
        - id
        - unityVersion
        - assetVersion
        - platform
      title: UnityPackage
      type: object
    Avatar:
      description: ''
      properties:
        assetUrl:
          description: >-
            Not present from general serach `/avatars`, only on specific
            requests `/avatars/{avatarId}`.
          minLength: 1
          type: string
        assetUrlObject:
          description: >-
            Not present from general serach `/avatars`, only on specific
            requests `/avatars/{avatarId}`.

            **Deprecation:** `Object` has unknown usage/fields, and is always
            empty. Use normal `Url` field instead.
          type: object
        authorId:
          $ref: '#/components/schemas/UserID'
        authorName:
          minLength: 1
          type: string
        created_at:
          format: date-time
          type: string
        description:
          minLength: 0
          type: string
        featured:
          default: false
          type: boolean
        id:
          $ref: '#/components/schemas/AvatarID'
        imageUrl:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        releaseStatus:
          $ref: '#/components/schemas/ReleaseStatus'
        tags:
          description: ' '
          items:
            $ref: '#/components/schemas/Tag'
          type: array
        thumbnailImageUrl:
          minLength: 1
          type: string
        unityPackageUrl:
          type: string
        unityPackageUrlObject:
          deprecated: true
          description: >-
            **Deprecation:** `Object` has unknown usage/fields, and is always
            empty. Use normal `Url` field instead.
          properties:
            unityPackageUrl:
              type: string
          type: object
        unityPackages:
          items:
            $ref: '#/components/schemas/UnityPackage'
          minItems: 1
          type: array
          uniqueItems: true
        updated_at:
          format: date-time
          type: string
        version:
          default: 0
          example: 68
          minimum: 0
          type: integer
      required:
        - authorId
        - authorName
        - created_at
        - description
        - featured
        - id
        - imageUrl
        - name
        - releaseStatus
        - tags
        - thumbnailImageUrl
        - unityPackages
        - unityPackageUrl
        - unityPackageUrlObject
        - updated_at
        - version
      title: Avatar
      type: object
    CreateAvatarRequest:
      title: CreateAvatarRequest
      type: object
      properties:
        assetUrl:
          type: string
        id:
          $ref: '#/components/schemas/AvatarID'
        name:
          type: string
          minLength: 1
        description:
          type: string
          minLength: 1
        tags:
          description: ' '
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        imageUrl:
          type: string
          minLength: 1
        releaseStatus:
          $ref: '#/components/schemas/ReleaseStatus'
        version:
          type: number
          minimum: 0
          default: 1
        unityPackageUrl:
          type: string
      required:
        - name
        - imageUrl
    UpdateAvatarRequest:
      title: UpdateAvatarRequest
      type: object
      properties:
        assetUrl:
          type: string
        id:
          $ref: '#/components/schemas/AvatarID'
        name:
          type: string
          minLength: 1
        description:
          type: string
          minLength: 1
        tags:
          description: ' '
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        imageUrl:
          type: string
          minLength: 1
        releaseStatus:
          $ref: '#/components/schemas/ReleaseStatus'
        version:
          type: number
          minimum: 0
          default: 1
        unityPackageUrl:
          type: string
    TransactionID:
      example: txn_e5c72948-e735-4880-8245-24b2a41198b0
      pattern: >-
        txn_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}
      title: TransactionID
      type: string
    TransactionStatus:
      type: string
      title: TransactionStatus
      enum:
        - active
        - failed
        - expired
        - chargeback
      default: active
    SubscriptionPeriod:
      type: string
      title: SubscriptionPeriod
      default: month
      enum:
        - hour
        - day
        - week
        - month
        - year
    Subscription:
      description: ''
      type: object
      example:
        id: vrchatplus-yearly
        steamItemId: '5000'
        amount: 9999
        description: VRChat Plus (Yearly)
        period: year
        tier: 5
      title: Subscription
      properties:
        id:
          type: string
          minLength: 1
        steamItemId:
          type: string
          minLength: 1
        amount:
          type: number
        description:
          type: string
        period:
          $ref: '#/components/schemas/SubscriptionPeriod'
        tier:
          type: number
      required:
        - id
        - steamItemId
        - amount
        - description
        - period
        - tier
    TransactionSteamWalletInfo:
      description: ''
      type: object
      example:
        state: ''
        country: SE
        currency: EUR
        status: Trusted
      title: TransactionSteamWalletInfo
      properties:
        state:
          type: string
        country:
          type: string
          minLength: 2
          default: US
          example: SE
        currency:
          type: string
          minLength: 3
          example: EUR
          default: USD
        status:
          type: string
          example: Trusted
          minLength: 1
      required:
        - state
        - country
        - currency
        - status
    TransactionSteamInfo:
      description: ''
      type: object
      properties:
        walletInfo:
          $ref: '#/components/schemas/TransactionSteamWalletInfo'
        steamId:
          type: string
          minLength: 1
          description: Steam User ID
        orderId:
          type: string
          minLength: 1
          description: Steam Order ID
        steamUrl:
          type: string
          description: Empty
        transId:
          type: string
          minLength: 1
          description: Steam Transaction ID, NOT the same as VRChat TransactionID
      required:
        - walletInfo
        - steamId
        - orderId
        - steamUrl
        - transId
      title: TransactionSteamInfo
    TransactionAgreement:
      description: ''
      type: object
      example:
        agreementId: '1234567890123456789'
        itemId: 5000
        status: Active
        period: year
        frequency: 1
        billingType: Steam
        startDate: '20220301'
        endDate: Infinite time value
        recurringAmt: 9999
        currency: USD
        timeCreated: '20201201'
        nextPayment: '20220301'
        lastPayment: NIL
        lastAmount: 0
        lastAmountVat: 0
        outstanding: 0
        failedAttempts: 0
      properties:
        agreementId:
          type: string
          minLength: 1
        itemId:
          type: number
        status:
          type: string
          minLength: 1
          description: This is NOT TransactionStatus, but whatever Steam return.
        period:
          type: string
          minLength: 1
        frequency:
          type: number
        billingType:
          type: string
          minLength: 1
        startDate:
          type: string
          minLength: 1
        endDate:
          type: string
          minLength: 1
        recurringAmt:
          type: number
        currency:
          type: string
          minLength: 1
        timeCreated:
          type: string
          minLength: 1
        nextPayment:
          type: string
          minLength: 1
        lastPayment:
          type: string
          minLength: 1
        lastAmount:
          type: number
        lastAmountVat:
          type: number
        outstanding:
          type: number
        failedAttempts:
          type: number
      required:
        - agreementId
        - itemId
        - status
        - period
        - frequency
        - billingType
        - startDate
        - endDate
        - recurringAmt
        - currency
        - timeCreated
        - nextPayment
        - lastPayment
        - lastAmount
        - lastAmountVat
        - outstanding
        - failedAttempts
      title: TransactionAgreement
    Transaction:
      description: ''
      type: object
      title: Transaction
      properties:
        id:
          $ref: '#/components/schemas/TransactionID'
        status:
          $ref: '#/components/schemas/TransactionStatus'
        subscription:
          $ref: '#/components/schemas/Subscription'
        sandbox:
          type: boolean
          default: false
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        steam:
          $ref: '#/components/schemas/TransactionSteamInfo'
        agreement:
          $ref: '#/components/schemas/TransactionAgreement'
        error:
          type: string
      required:
        - id
        - status
        - subscription
        - sandbox
        - created_at
        - updated_at
        - error
    LicenseGroupID:
      example: lgrp_608513da-b213-4e15-80af-bd88c27f0979
      pattern: >-
        lgrp_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}
      title: LicenseGroupID
      type: string
    UserSubscription:
      type: object
      description: ''
      example:
        id: vrchatplus-yearly
        transactionId: txn_63231aa6-8b7a-49ff-a106-d5678f8318b1
        store: Steam
        steamItemId: '5000'
        amount: 9999
        description: VRChat Plus (Yearly)
        period: year
        tier: 5
        active: true
        status: active
        expires: 2022-03-04T00:00:00.000Z
        created_at: 2020-12-04T13:09:54.344Z
        updated_at: 2020-12-10T19:53:45.362Z
        licenseGroups:
          - lgrp_608513da-b213-4e15-80af-bd88c27f0979
        isGift: false
      properties:
        id:
          type: string
          minLength: 1
        transactionId:
          $ref: '#/components/schemas/TransactionID'
        store:
          type: string
          minLength: 1
          description: >-
            Which "Store" it came from. Right now only Stores are "Steam" and
            "Admin".
        steamItemId:
          type: string
          minLength: 1
        amount:
          type: number
        description:
          type: string
        period:
          $ref: '#/components/schemas/SubscriptionPeriod'
        tier:
          type: number
        active:
          type: boolean
          default: true
        status:
          $ref: '#/components/schemas/TransactionStatus'
        expires:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        licenseGroups:
          type: array
          items:
            $ref: '#/components/schemas/LicenseGroupID'
        isGift:
          type: boolean
          default: false
      required:
        - id
        - transactionId
        - store
        - amount
        - description
        - period
        - tier
        - active
        - status
        - expires
        - created_at
        - updated_at
        - licenseGroups
        - isGift
      title: UserSubscription
    LicenseType:
      type: string
      title: LicenseType
      default: permission
      enum:
        - avatar
        - licenseGroup
        - permission
        - product
      example: permission
    LicenseAction:
      type: string
      title: LicenseAction
      default: have
      enum:
        - wear
        - have
      example: have
    License:
      title: License
      type: object
      properties:
        forId:
          type: string
          description: >-
            Either a AvatarID, LicenseGroupID, PermissionID or ProductID. This
            depends on the `forType` field.
          minLength: 1
          pattern: >-
            (avtr|lgrp|prms|prod)_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}
        forType:
          $ref: '#/components/schemas/LicenseType'
        forName:
          type: string
          minLength: 1
        forAction:
          $ref: '#/components/schemas/LicenseAction'
      required:
        - forId
        - forType
        - forName
        - forAction
    LicenseGroup:
      description: ''
      type: object
      example:
        id: lgrp_608513da-b213-4e15-80af-bd88c27f0979
        name: vrcplus
        description: VRC+ benefits
        licenses:
          - forId: prms_1d9549db-d30a-48f3-a6b8-6741ce5a4283
            forType: permission
            forName: permission-user-icons
            forAction: have
          - forId: prms_76f33deb-dd5d-46b7-b79d-e1f8f0a9a1e0
            forType: permission
            forName: permission-supporter-tags
            forAction: have
          - forId: prms_0d9549db-d30a-48f3-a6b8-6741ce5a4283
            forType: permission
            forName: permission-invite-photos
            forAction: have
          - forId: prms_dc02c512-4c03-479c-8c6a-d9329c023baf
            forType: permission
            forName: permission-user-gallery
            forAction: have
          - forId: prms_153ac0b7-c2dd-43f9-96e3-c61fd2e85509
            forType: permission
            forName: permission-profile-pic-override
            forAction: have
      title: LicenseGroup
      properties:
        id:
          $ref: '#/components/schemas/LicenseGroupID'
        name:
          type: string
          minLength: 1
        description:
          type: string
        licenses:
          type: array
          items:
            $ref: '#/components/schemas/License'
      required:
        - id
        - name
[...]
