openapi: 3.0.3
info:
  title: VRChat API Documentation
  version: 1.20.3
  contact:
    name: Unofficial VRChat API Documentation Project
    url: https://github.com/VRChatAPI
    email: vrchatapi.lpv0t@aries.fyi
  termsOfService: https://vrchat.com/legal/
  license:
    url: https://github.com/vrchatapi/specification/blob/master/LICENSE
    name: MIT
  description: |-
    ![VRChat API Banner](https://vrchatapi.github.io/assets/img/api_banner_1500x400.png)

    # Welcome to the VRChat API

    Before we begin, we would like to state this is a **COMMUNITY DRIVEN PROJECT**.
    This means that everything you read on here was written by the community itself and is **not** officially supported by VRChat.
    The documentation is provided "AS IS", and any action you take towards VRChat is completely your own responsibility.

    The documentation and additional libraries SHALL ONLY be used for applications interacting with VRChat's API in accordance
    with their [Terms of Service](https://hello.vrchat.com/legal) and [Community Guidelines](https://hello.vrchat.com/community-guidelines), and MUST NOT be used for modifying the client, "avatar ripping", or other illegal activities.
    Malicious usage or spamming the API may result in account termination.
    Certain parts of the API are also more sensitive than others, for example moderation, so please tread extra carefully and read the warnings when present.

    ![Tupper Policy on API](https://i.imgur.com/yLlW7Ok.png)

    Finally, use of the API using applications other than the approved methods (website, VRChat application, Unity SDK) is not officially supported.
    VRChat provides no guarantee or support for external applications using the API. Access to API endpoints may break **at any time, without notice**.
    Therefore, please **do not ping** VRChat Staff in the VRChat Discord if you are having API problems, as they do not provide API support.
    We will make a best effort in keeping this documentation and associated language libraries up to date, but things might be outdated or missing.
    If you find that something is no longer valid, please contact us on Discord or [create an issue](https://github.com/vrchatapi/specification/issues) and tell us so we can fix it.

    # Getting Started

    The VRChat API can be used to programmatically retrieve or update information regarding your profile, friends, avatars, worlds and more.
    The API consists of two parts, "Photon" which is only used in-game, and the "Web API" which is used by both the game and the website.
    This documentation focuses only on the Web API.

    The API is designed around the REST ideology, providing semi-simple and usually predictable URIs to access and modify objects.
    Requests support standard HTTP methods like GET, PUT, POST, and DELETE and standard status codes.
    Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.

    <div class="callout callout-error">
      <strong>🛑 Warning! Do not touch Photon!</strong><br>
      Photon is only used by the in-game client and should <b>not</b> be touched. Doing so may result in permanent account termination.
    </div>

    <div class="callout callout-info">
      <strong>ℹ️ Authentication</strong><br>
      Read <a href="#tag--authentication">Authentication</a> for how to log in.
    </div>

    # Using the API

    For simply exploring what the API can do it is strongly recommended to download [Insomnia](https://insomnia.rest/download), a free and open-source
    API client that's great for sending requests to the API in an orderly fashion.
    Insomnia allows you to send data in the format that's required for VRChat's API.
    It is also possible to try out the API in your browser, by first logging in at [vrchat.com/home](https://vrchat.com/home/) and then going to
    [vrchat.com/api/1/auth/user](https://vrchat.com/api/1/auth/user), but the information will be much harder to work with.

    For more permanent operation such as software development it is instead recommended to use one of the existing language SDKs.
    This community project maintains API libraries in several languages, which allows you to interact with the API with simple function calls
    rather than having to implement the HTTP protocol yourself. Most of these libraries are automatically generated from the API specification,
    sometimes with additional helpful wrapper code to make usage easier. This allows them to be almost automatically updated and expanded upon
    as soon as a new feature is introduced in the specification itself. The libraries can be found on [GitHub](https://github.com/vrchatapi) or following:

    * [NodeJS (JavaScript)](https://www.npmjs.com/package/vrchat)
    * [Dart](https://pub.dev/packages/vrchat_dart)
    * [Rust](https://crates.io/crates/vrchatapi)
    * [C#](https://github.com/vrchatapi/vrchatapi-csharp)
    * [Python](https://github.com/vrchatapi/vrchatapi-python)

    # Pagination

    Most endpoints enforce pagination, meaning they will only return 10 entries by default, and never more than 100.<br>
    Using both the limit and offset parameters allows you to easily paginate through a large number of objects.

    | Query Parameter | Type | Description |
    | ----------|--|------- |
    | `n` | integer  | The number of objects to return. This value often defaults to 10. Highest limit is always 100.|
    | `offset` | integer  | A zero-based offset from the default object sorting.|

    If a request returns fewer objects than the `limit` parameter, there are no more items available to return.

    # Contribution

    Do you want to get involved in the documentation effort? Do you want to help improve one of the language API libraries?
    This project is an [OPEN Open Source Project](https://openopensource.org)! This means that individuals making significant and valuable contributions are given
    commit-access to the project. It also means we are very open and welcoming of new people making contributions, unlike some more guarded open-source projects.

    [![Discord](https://img.shields.io/static/v1?label=vrchatapi&message=discord&color=blueviolet&style=for-the-badge)](https://discord.gg/qjZE9C9fkB)
servers:
  - url: https://api.vrchat.cloud/api/1
tags:
  - name: authentication
    description: Authentication Docs Here
  - name: avatars
    description: Avatars Docs Here
  - name: calendar
    description: Calendar docs here
  - name: economy
    description: Economy Docs Here
  - name: favorites
    description: Favorites Docs Here
  - name: files
    description: Files Docs Here
  - name: friends
    description: Friends Docs Here
  - name: groups
    description: Group Docs Here
  - name: inventory
    description: The inventory manages collectable items, such as drop bundles and their contents.
  - name: invite
    description: Invite Docs Here
  - name: instances
    description: Instances Docs Here
  - name: jams
    description: Jams Docs Here
  - name: notifications
    description: Notifiations Docs
  - name: playermoderation
    description: |-
      There are two different moderation API's, "moderation" for Staff actions, and "playermoderation" for players.
      PlayerModerations are user-generated actions towards others, such as muting them, blocking, or toggling interaction.

      Your global permission settings are stored locally on your computer.
      Only player-specific moderations (when you target a player, and allow them specifically to interact with you) are stored in the API.

      ## Implementation details

      There are three different user-targetted permission options:

      - Mode 1: interactOn/unmute/unblock
      - Mode 2: interactOff/mute/block
      - *Default setting*

      **Example:**

      Force On (`interactOn`) and Force Off (`interactOff`) always or never allow that person to interact with you.
      These are stored as PlayerModerations. When you select a player and select "Force On", it creates a playerModeration of type `interactOn`.

      **Important order:**

      1. When switching between one mode from the other, e.g. "Force On" and "Force Off", **the previous playerModeration MUST first be deleted before creating the second.**
         The game sends these in sequence, first delete the old, then create the new. Attempting to create both `interactOn` and `interactOff` is UNDOCUMENTED behavior.
      2. "Use Current Setting" **does not have it's own enum**. The game removes any previous playerModeration of same type.
         No playerModeration of either type means fallback to the global setting.

      ## Deprecation notice

      As of October 2022, `showAvatar` and `hideAvatar` has been moved to local storage.
      Sending these types to the API will result in a 200 OK response, but the API will **not** store them.
      More information is avaiable on VRChat's official [documentation on Local Storage](https://docs.vrchat.com/docs/local-vrchat-storage).
  - name: prints
    description: Prints are a way to print photos directly from the VRChat camera.
  - name: props
    description: Props are interactable items users can spawn into instances.
  - name: users
    description: Users Docs Here
  - name: worlds
    description: Worlds Docs Here
  - name: miscellaneous
    description: Miscellaneous endpoints that do not fit into any other category.
paths:
  /auth/exists:
    get:
      summary: Check User Exists
      tags:
        - authentication
      responses:
        '200':
          $ref: '#/components/responses/UserExistsResponse'
        '400':
          $ref: '#/components/responses/MissingParameterError'
      operationId: checkUserExists
      parameters:
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/displayName'
        - $ref: '#/components/parameters/usernameQuery'
        - $ref: '#/components/parameters/excludeUserId'
      description: |-
        Checks if a user by a given `username`, `displayName` or `email` exist. This is used during registration to check if a username has already been taken, during change of displayName to check if a displayName is available, and during change of email to check if the email is already used. In the later two cases the `excludeUserId` is used to exclude oneself, otherwise the result would always be true.

        It is **REQUIRED** to include **AT LEAST** `username`, `displayName` **or** `email` query parameter. Although they can be combined - in addition with `excludeUserId` (generally to exclude yourself) - to further fine-tune the search.
  /auth/user:
    get:
      summary: Login and/or Get Current User Info
      tags:
        - authentication
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserLoginResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getCurrentUser
      description: |-
        This endpoint does the following two operations:
          1) Checks if you are already logged in by looking for a valid `auth` cookie. If you are have a valid auth cookie then no additional auth-related actions are taken. If you are **not** logged in then it will log you in with the `Authorization` header and set the `auth` cookie. The `auth` cookie will only be sent once.
          2) If logged in, this function will also return the CurrentUser object containing detailed information about the currently logged in user.

        The auth string after `Authorization: Basic {string}` is a base64-encoded string of the username and password, both individually url-encoded, and then joined with a colon.
          
        > base64(urlencode(username):urlencode(password))

        **WARNING: Session Limit:** Each authentication with login credentials counts as a separate session, out of which you have a limited amount. Make sure to save and reuse the `auth` cookie if you are often restarting the program. The provided API libraries automatically save cookies during runtime, but does not persist during restart. While it can be fine to use username/password during development, expect in production to very fast run into the rate-limit and be temporarily blocked from making new sessions until older ones expire. The exact number of simultaneous sessions is unknown/undisclosed.
      parameters: []
      security:
        - authHeader: []
        - authHeader: []
          twoFactorAuthCookie: []
        - authCookie: []
  /auth/twofactorauth:
    delete:
      summary: Disable 2FA
      operationId: disable2FA
      responses:
        '200':
          $ref: '#/components/responses/Disable2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - authentication
      description: Disables 2FA for the currently logged in account
      security:
        - authCookie: []
  /auth/twofactorauth/totp/verify:
    post:
      summary: Verify 2FA code
      operationId: verify2FA
      responses:
        '200':
          $ref: '#/components/responses/Verify2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorAuthCode'
            examples: {}
      description: Finishes the login sequence with a normal 2FA-generated code for accounts with 2FA-protection enabled.
      tags:
        - authentication
      security:
        - authCookie: []
      parameters: []
  /auth/twofactorauth/totp/pending:
    post:
      summary: Enable time-based 2FA codes
      operationId: enable2FA
      responses:
        '200':
          $ref: '#/components/responses/Pending2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      description: Begins the sequence for enabling time-based 2FA.
      tags:
        - authentication
      security:
        - authCookie: []
      parameters: []
    delete:
      summary: Cancel pending enabling of time-based 2FA codes
      operationId: cancelPending2FA
      responses:
        '200':
          $ref: '#/components/responses/Disable2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      description: Cancels the sequence for enabling time-based 2FA.
      tags:
        - authentication
      security:
        - authCookie: []
      parameters: []
  /auth/twofactorauth/totp/pending/verify:
    post:
      summary: Verify Pending 2FA code
      operationId: verifyPending2FA
      responses:
        '200':
          $ref: '#/components/responses/Verify2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorAuthCode'
            examples: {}
      description: Finishes sequence for enabling time-based 2FA.
      tags:
        - authentication
      security:
        - authCookie: []
      parameters: []
  /auth/user/twofactorauth/otp:
    get:
      summary: Get 2FA Recovery codes
      operationId: getRecoveryCodes
      responses:
        '200':
          $ref: '#/components/responses/Get2FARecoveryCodesResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      description: Gets the OTP (One Time Password) recovery codes for accounts with 2FA-protection enabled.
      tags:
        - authentication
      security:
        - authCookie: []
  /auth/twofactorauth/otp/verify:
    post:
      summary: Verify 2FA code with Recovery code
      operationId: verifyRecoveryCode
      responses:
        '200':
          $ref: '#/components/responses/Verify2FAResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorAuthCode'
            examples: {}
      description: Finishes the login sequence with an OTP (One Time Password) recovery code for accounts with 2FA-protection enabled.
      tags:
        - authentication
      security:
        - authCookie: []
  /auth/twofactorauth/emailotp/verify:
    post:
      summary: Verify 2FA email code
      operationId: verify2FAEmailCode
      responses:
        '200':
          $ref: '#/components/responses/Verify2FAEmailCodeResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorEmailCode'
            examples: {}
      description: Finishes the login sequence with an 2FA email code.
      tags:
        - authentication
      security:
        - authCookie: []
      parameters: []
  /auth:
    get:
      summary: Verify Auth Token
      tags:
        - authentication
      responses:
        '200':
          $ref: '#/components/responses/VerifyAuthTokenResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: verifyAuthToken
      parameters: []
      description: Verify whether the currently provided Auth Token is valid.
      security:
        - authCookie: []
  /logout:
    put:
      summary: Logout
      operationId: logout
      responses:
        '200':
          $ref: '#/components/responses/LogoutSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      description: Invalidates the login session.
      security:
        - authCookie: []
      tags:
        - authentication
  /users/{userId}/delete:
    parameters:
      - $ref: '#/components/parameters/userId'
    put:
      summary: Delete User
      operationId: deleteUser
      responses:
        '200':
          $ref: '#/components/responses/DeleteUserResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - authentication
      description: |-
        Deletes the account with given ID. Normal users only have permission to delete their own account. Account deletion is 14 days from this request, and will be cancelled if you do an authenticated request with the account afterwards.

        **VRC+ NOTE:** Despite the 14-days cooldown, any VRC+ subscription will be cancelled **immediately**.

        **METHOD NOTE:** Despite this being a Delete action, the method type required is PUT.
      security:
        - authCookie: []
  /auth/register:
    post:
      summary: Register User Account
      description: |-
        ~~Register a new user account.~~

        **DEPRECATED:** Automated creation of accounts has no legitimate public third-party use case, and would be in violation of ToS §13.2:
        *By using the Platform, you agree not to: i. [...] use the Platform in a manner inconsistent with individual human usage*
        This endpoint is documented in the interest of completeness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserAccountRequest'
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserLoginResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: registerUserAccount
      parameters: []
      tags:
        - authentication
      deprecated: true
  /auth/user/resendEmail:
    post:
      summary: Resend Email Confirmation
      description: Requests a resend of pending email address confirmation email
      responses:
        '200':
          $ref: '#/components/responses/ResendVerificationEmailSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: resendEmailConfirmation
      parameters: []
      tags:
        - authentication
      security:
        - authCookie: []
  /auth/confirmEmail:
    get:
      summary: Confirm Email
      operationId: confirmEmail
      parameters:
        - $ref: '#/components/parameters/confirmEmailUserId'
        - $ref: '#/components/parameters/confirmEmailToken'
      responses:
        '302':
          $ref: '#/components/responses/ConfirmEmailResponse'
      tags:
        - authentication
      description: Confirms the email address for a user
  /auth/verifyLoginPlace:
    get:
      summary: Verify Login Place
      operationId: verifyLoginPlace
      parameters:
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/verifyLoginPlaceToken'
      responses:
        '302':
          $ref: '#/components/responses/VerifyLoginPlaceResponse'
      tags:
        - authentication
      description: Verifies a login attempt for a user
  /users/{userId}/avatar:
    get:
      summary: Get Own Avatar
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/AvatarSeeOtherUserCurrentAvatarError'
      operationId: getOwnAvatar
      security:
        - authCookie: []
      description: Get the current avatar for the user. This will return an error for any other user than the one logged in.
    parameters:
      - $ref: '#/components/parameters/userId'
  /avatars:
    get:
      summary: Search Avatars
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: searchAvatars
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sort'
        - schema:
            type: string
            enum:
              - me
          in: query
          required: false
          name: user
          description: Set to `me` for searching own avatars.
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
      description: Search and list avatars by query filters. You can only search your own or featured avatars. It is not possible as a normal user to search other peoples avatars.
    post:
      summary: Create Avatar
      operationId: createAvatar
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '400':
          $ref: '#/components/responses/UnableToCreateAvatarNowError'
        '401':
          $ref: '#/components/responses/FeaturedSetNotAdminError'
      tags:
        - avatars
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAvatarRequest'
      description: Create an avatar. It's possible to optionally specify a ID if you want a custom one. Attempting to create an Avatar with an already claimed ID will result in a DB error.
  /avatarStyles:
    get:
      summary: Get Avatar Styles
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarStyleListResponse'
      operationId: getAvatarStyles
      description: List avatar styles.
  /avatars/{avatarId}:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    get:
      summary: Get Avatar
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      operationId: getAvatar
      security:
        - authCookie: []
      description: Get information about a specific Avatar.
    put:
      summary: Update Avatar
      operationId: updateAvatar
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      description: Update information about a specific avatar.
      tags:
        - avatars
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAvatarRequest'
    delete:
      summary: Delete Avatar
      operationId: deleteAvatar
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AvatarResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      tags:
        - avatars
      description: Delete an avatar. Notice an avatar is never fully "deleted", only its ReleaseStatus is set to "hidden" and the linked Files are deleted. The AvatarID is permanently reserved.
  /avatars/{avatarId}/select:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    put:
      summary: Select Avatar
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      operationId: selectAvatar
      security:
        - authCookie: []
      description: Switches into that avatar.
  /avatars/{avatarId}/selectFallback:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    put:
      summary: Select Fallback Avatar
      deprecated: true
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/AvatarNotTaggedAsFallbackError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      operationId: selectFallbackAvatar
      security:
        - authCookie: []
      description: Switches into that avatar as your fallback avatar.
  /avatars/favorites:
    get:
      summary: List Favorited Avatars
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/AvatarSeeOtherUserFavoritesError'
      operationId: getFavoritedAvatars
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/featured'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/notag'
        - $ref: '#/components/parameters/releaseStatus'
        - $ref: '#/components/parameters/maxUnityVersion'
        - $ref: '#/components/parameters/minUnityVersion'
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/userIdAdmin'
      description: Search and list favorited avatars by query filters.
  /avatars/licensed:
    get:
      summary: List Licensed Avatars
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getLicensedAvatars
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      description: List licensed avatars.
  /avatars/{avatarId}/impostor/enqueue:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    post:
      summary: Enqueue Impostor generation
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarImpostorEnqueueResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      operationId: enqueueImpostor
      security:
        - authCookie: []
      description: Enqueue Impostor generation for that avatar.
  /avatars/impostor/queue/stats:
    get:
      summary: Get Impostor Queue Stats
      tags:
        - avatars
      responses:
        '200':
          $ref: '#/components/responses/AvatarImpostorQueueStatsResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getImpostorQueueStats
      security:
        - authCookie: []
      description: Gets service stats for queued impostor.
  /avatars/{avatarId}/impostor:
    parameters:
      - $ref: '#/components/parameters/avatarId'
    delete:
      summary: Delete generated Impostor
      tags:
        - avatars
      responses:
        '200':
          description: The Impostors generated for that avatar are deleted.
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/AvatarNotFoundError'
      operationId: deleteImpostor
      security:
        - authCookie: []
      description: Delete generated Impostor for that avatar.
  /calendar:
    get:
      summary: List calendar events
      tags:
        - calendar
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getCalendarEvents
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/monthDate'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      description: Get a list of a user's calendar events for the month in ?date
  /calendar/featured:
    get:
      summary: List featured calendar events
      tags:
        - calendar
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFeaturedCalendarEvents
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/monthDate'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      description: Get a list of a featured calendar events for the month in ?date
  /calendar/following:
    get:
      summary: List followed calendar events
      tags:
        - calendar
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFollowedCalendarEvents
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/monthDate'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      description: Get a list of a followed calendar events for the month in ?date
  /calendar/{groupId}:
    get:
      summary: List a group's calendar events
      tags:
        - calendar
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getGroupCalendarEvents
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/monthDate'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      description: Get a list of a group's calendar events
  /calendar/{groupId}/event:
    post:
      summary: Create a calendar event
      tags:
        - calendar
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: createGroupCalendarEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCalendarEventRequest'
      security:
        - authCookie: []
      description: Creates an event for a group on the calendar
    parameters:
      - $ref: '#/components/parameters/groupId'
  /calendar/{groupId}/{calendarId}:
    get:
      summary: Get a calendar event
      tags:
        - calendar
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getGroupCalendarEvent
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/calendarId'
      description: Get a group calendar event
    delete:
      summary: Delete a calendar event
      tags:
        - calendar
      responses:
        '200':
          $ref: '#/components/responses/DeleteCalendarEventSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: deleteGroupCalendarEvent
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/calendarId'
      description: Delete a group calendar event
  /calendar/{groupId}/{calendarId}.ics:
    get:
      summary: Download calendar event as ICS
      tags:
        - calendar
      description: Returns the specified calendar in iCalendar (ICS) format.
      parameters:
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/calendarId'
      operationId: getGroupCalendarEventICS
      responses:
        '200':
          $ref: '#/components/responses/ICSResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/ICSNotFoundError'
  /calendar/{groupId}/{calendarId}/event:
    put:
      summary: Update a calendar event
      tags:
        - calendar
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: updateGroupCalendarEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCalendarEventRequest'
      security:
        - authCookie: []
      description: Updates an event for a group on the calendar
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/calendarId'
  /calendar/{groupId}/{calendarId}/follow:
    post:
      summary: Follow a calendar event
      tags:
        - calendar
      responses:
        '200':
          $ref: '#/components/responses/CalendarEventResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: followGroupCalendarEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowCalendarEventRequest'
      security:
        - authCookie: []
      description: Follow or unfollow an event on a group's calendar
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/calendarId'
  /Steam/transactions:
    get:
      summary: List Steam Transactions
      operationId: getSteamTransactions
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/TransactionListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Get all own Steam transactions.
  /Steam/transactions/{transactionId}:
    parameters:
      - $ref: '#/components/parameters/transactionId'
    get:
      summary: Get Steam Transaction
      operationId: getSteamTransaction
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/TransactionResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Get a single Steam transactions by ID. This returns the exact same information as `getSteamTransactions`, so no point in using this endpoint.
      deprecated: true
  /Admin/transactions/{transactionId}:
    parameters:
      - $ref: '#/components/parameters/transactionId'
  /auth/user/subscription:
    get:
      summary: Get Current Subscriptions
      operationId: getCurrentSubscriptions
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/UserSubscriptionListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Get a list of all current user subscriptions.
  /subscriptions:
    get:
      summary: List Subscriptions
      operationId: getSubscriptions
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: List all existing Subscriptions. For example, "vrchatplus-monthly" and "vrchatplus-yearly".
  /licenseGroups/{licenseGroupId}:
    parameters:
      - $ref: '#/components/parameters/licenseGroupId'
    get:
      summary: Get License Group
      operationId: getLicenseGroup
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/LicenseGroupResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Get a single License Group by given ID.
  /listing/{productId}:
    parameters:
      - $ref: '#/components/parameters/productId'
      - $ref: '#/components/parameters/hydrate'
    get:
      summary: Get Product Listing
      operationId: getProductListing
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/ProductListingResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Gets a product listing
  /user/{userId}/listings:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/number'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/hydrate'
      - $ref: '#/components/parameters/groupIdFilter'
      - $ref: '#/components/parameters/active'
    get:
      summary: Get User Product Listings
      operationId: getProductListings
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/ProductListingListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Gets the product listings of a given user
  /tokenBundles:
    get:
      summary: List Token Bundles
      operationId: getTokenBundles
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/TokenBundleListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Gets the list of token bundles
  /tilia/status:
    get:
      summary: Get Tilia Status
      operationId: getTiliaStatus
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/TiliaStatusResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Gets the status of Tilia integration
  /user/{userId}/tilia/tos:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: Get Tilia TOS Agreement Status
      operationId: getTiliaTos
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/TiliaTOSResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Gets the status of the agreement of a user to the Tilia TOS
  /user/{userId}/balance:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: Get Balance
      operationId: getBalance
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/BalanceResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - economy
      description: Gets the balance of a user
  /favorites:
    get:
      summary: List Favorites
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFavorites
      security:
        - authCookie: []
      description: Returns a list of favorites.
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - schema:
            type: string
          in: query
          name: type
          description: The type of favorites to return, FavoriteType.
        - $ref: '#/components/parameters/tag'
    post:
      summary: Add Favorite
      operationId: addFavorite
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteResponse'
        '400':
          $ref: '#/components/responses/FavoriteAddAlreadyFavoritedError'
        '403':
          $ref: '#/components/responses/FavoriteAddNotFriendsError'
      description: |-
        Add a new favorite.

        Friend groups are named `group_0` through `group_3`. Avatar and World groups are named `avatars1` to `avatars4` and `worlds1` to `worlds4`.

        You cannot add people whom you are not friends with to your friends list. Destroying a friendship removes the person as favorite on both sides.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFavoriteRequest'
            examples:
              Example Favorite Friend:
                value:
                  type: friend
                  favoriteId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                  tags:
                    - group_0
              Example Favorite Avatar:
                value:
                  type: avatar
                  favoriteId: avtr_912d66a4-4714-43b8-8407-7de2cafbf55b
                  tags:
                    - avatars1
        description: ''
      tags:
        - favorites
  /favorites/{favoriteId}:
    parameters:
      - $ref: '#/components/parameters/favoriteId'
    delete:
      summary: Remove Favorite
      operationId: removeFavorite
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteRemovedSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/FavoriteNotFoundError'
      description: Remove a favorite from your favorites list.
      tags:
        - favorites
  /favorite/groups:
    get:
      summary: List Favorite Groups
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroupListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFavoriteGroups
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/userIdAdmin'
        - schema:
            type: string
          in: query
          name: ownerId
          description: The owner of whoms favorite groups to return. Must be a UserID.
      description: Return a list of favorite groups owned by a user. Returns the same information as `getFavoriteGroups`.
  /favorite/group/{favoriteGroupType}/{favoriteGroupName}/{userId}:
    parameters:
      - $ref: '#/components/parameters/favoriteGroupType'
      - $ref: '#/components/parameters/favoriteGroupName'
      - $ref: '#/components/parameters/userId'
    get:
      summary: Show Favorite Group
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroupResponse'
      operationId: getFavoriteGroup
      security:
        - authCookie: []
      description: Fetch information about a specific favorite group.
    put:
      summary: Update Favorite Group
      operationId: updateFavoriteGroup
      security:
        - authCookie: []
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFavoriteGroupRequest'
      tags:
        - favorites
      description: Update information about a specific favorite group.
    delete:
      summary: Clear Favorite Group
      operationId: clearFavoriteGroup
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteGroupClearedSuccess'
      tags:
        - favorites
      description: Clear ALL contents of a specific favorite group.
  /auth/user/favoritelimits:
    parameters: []
    get:
      summary: Get Favorite Limits
      tags:
        - favorites
      responses:
        '200':
          $ref: '#/components/responses/FavoriteLimitsResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFavoriteLimits
      security:
        - authCookie: []
      description: Return information about a specific Favorite.
      parameters: []
  /files:
    get:
      summary: List Files
      responses:
        '200':
          $ref: '#/components/responses/FileListResponse'
      operationId: getFiles
      security:
        - authCookie: []
      description: Returns a list of files
      parameters:
        - schema:
            type: string
            minLength: 1
          in: query
          name: tag
          description: Tag, for example "icon" or "gallery", not included by default.
        - schema:
            type: string
          in: query
          name: userId
          deprecated: true
          description: UserID, will always generate a 500 permission error.
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      tags:
        - files
  /file:
    post:
      summary: Create File
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
      operationId: createFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileRequest'
      security:
        - authCookie: []
      description: Creates a new File object
  /file/{fileId}:
    parameters:
      - $ref: '#/components/parameters/fileId'
    get:
      summary: Show File
      operationId: getFile
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
      security:
        - authCookie: []
      description: Shows general information about the "File" object. Each File can have several "Version"'s, and each Version can have multiple real files or "Data" blobs.
    delete:
      summary: Delete File
      operationId: deleteFile
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '404':
          $ref: '#/components/responses/FileDeletedError'
      tags:
        - files
      security:
        - authCookie: []
      description: Deletes a File object.
    post:
      summary: Create File Version
      operationId: createFileVersion
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
      security:
        - authCookie: []
      description: Creates a new FileVersion. Once a Version has been created, proceed to the `/file/{fileId}/{versionId}/file/start` endpoint to start a file upload.
      tags:
        - files
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileVersionRequest'
  /file/{fileId}/{versionId}:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
    get:
      summary: Download File Version
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/RawFileResponse'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
      operationId: downloadFileVersion
      security:
        - authCookie: []
      description: |-
        Downloads the file with the provided version number.

        **Version Note:** Version 0 is always when the file was created. The real data is usually always located in version 1 and up.

        **Extension Note:** Files are not guaranteed to have a file extensions. UnityPackage files tends to have it, images through this endpoint do not. You are responsible for appending file extension from the `extension` field when neccesary.
    delete:
      summary: Delete File Version
      operationId: deleteFileVersion
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '400':
          $ref: '#/components/responses/FileVersionDeleteInitialError'
        '500':
          $ref: '#/components/responses/FileVersionDeleteMiddleError'
      security:
        - authCookie: []
      description: Delete a specific version of a file. You can only delete the latest version.
      tags:
        - files
  /file/{fileId}/{versionId}/{fileType}/finish:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    put:
      summary: Finish FileData Upload
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
      operationId: finishFileDataUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishFileDataUploadRequest'
            examples:
              Example Request:
                value:
                  etags:
                    - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    - yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
                  nextPartNumber: '0'
                  maxParts: '0'
        description: |-
          Please see documentation on ETag's:
          [https://teppen.io/2018/06/23/aws_s3_etags/](https://teppen.io/2018/06/23/aws_s3_etags/)

          ETag's should NOT be present when uploading a `signature`.
      security:
        - authCookie: []
      description: Finish an upload of a FileData. This will mark it as "complete". After uploading the `file` for Avatars and Worlds you then have to upload a `signature` file.
  /file/{fileId}/{versionId}/{fileType}/start:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    put:
      summary: Start FileData Upload
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileUploadURLResponse'
        '400':
          $ref: '#/components/responses/FileUploadAlreadyFinishedError'
      operationId: startFileDataUpload
      parameters:
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: partNumber
          required: false
          description: The part number to start uploading. If not provided, the first part will be started.
          deprecated: true
      security:
        - authCookie: []
      description: |-
        Starts an upload of a specific FilePart. This endpoint will return an AWS URL which you can PUT data to. You need to call this and receive a new AWS API URL for each `partNumber`. Please see AWS's REST documentation on "PUT Object to S3" on how to upload. Once all parts has been uploaded, proceed to `/finish` endpoint.

        **Note:** `nextPartNumber` seems like it is always ignored. Despite it returning 0, first partNumber is always 1.
  /file/{fileId}/{versionId}/{fileType}/status:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
      - $ref: '#/components/parameters/fileType'
    get:
      summary: Check FileData Upload Status
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileVersionUploadStatusResponse'
      operationId: getFileDataUploadStatus
      security:
        - authCookie: []
      description: Retrieves the upload status for file upload. Can currently only be accessed when `status` is `waiting`. Trying to access it on a file version already uploaded currently times out.
  /analysis/{fileId}/{versionId}:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
    get:
      summary: Get File Version Analysis
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileAnalysisResponse'
        '202':
          $ref: '#/components/responses/AnalysisNotYetAvailableError'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
      operationId: getFileAnalysis
      security:
        - authCookie: []
      description: Get the performance analysis for the uploaded assets of an avatar
  /analysis/{fileId}/{versionId}/security:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
    get:
      summary: Get File Version Analysis Security
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileAnalysisResponse'
        '202':
          $ref: '#/components/responses/AnalysisNotYetAvailableError'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
      operationId: getFileAnalysisSecurity
      security:
        - authCookie: []
      description: Get the security performance analysis for the uploaded assets of an avatar
  /analysis/{fileId}/{versionId}/standard:
    parameters:
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/versionId'
    get:
      summary: Get File Version Analysis Standard
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileAnalysisResponse'
        '202':
          $ref: '#/components/responses/AnalysisNotYetAvailableError'
        '404':
          $ref: '#/components/responses/FileNotFoundError'
      operationId: getFileAnalysisStandard
      security:
        - authCookie: []
      description: Get the standard performance analysis for the uploaded assets of an avatar
  /file/image:
    post:
      summary: Upload gallery image, icon, emoji or sticker
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
      operationId: uploadImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The binary blob of the png file.
                tag:
                  type: string
                  description: Needs to be either icon, gallery, sticker, emoji, or emojianimated
                frames:
                  type: integer
                  description: Required for emojianimated. Total number of frames to be animated (2-64)
                framesOverTime:
                  type: integer
                  description: Required for emojianimated. Animation frames per second (1-64)
                animationStyle:
                  type: string
                  example: bats
                  description: Animation style for sticker, required for emoji.
                maskTag:
                  type: string
                  example: square
                  description: Mask of the sticker, optional for emoji.
              required:
                - file
                - tag
      security:
        - authCookie: []
      description: Upload an image, which can be an icon, gallery image, sticker or emoji
  /icon:
    post:
      summary: Upload icon
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
      operationId: uploadIcon
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The binary blob of the png file.
              required:
                - file
      security:
        - authCookie: []
      description: Upload an icon
  /gallery:
    post:
      summary: Upload gallery image
      tags:
        - files
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
      operationId: uploadGalleryImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The binary blob of the png file.
              required:
                - file
      security:
        - authCookie: []
      description: Upload a gallery image
  /adminassetbundles/{adminAssetBundleId}:
    get:
      summary: Get AdminAssetBundle
      responses:
        '200':
          $ref: '#/components/responses/AdminAssetBundleResponse'
      operationId: getAdminAssetBundle
      security:
        - authCookie: []
      description: Returns an AdminAssetBundle
      parameters:
        - $ref: '#/components/parameters/adminAssetBundleId'
      tags:
        - files
  /auth/user/friends:
    get:
      summary: List Friends
      tags:
        - friends
      responses:
        '200':
          $ref: '#/components/responses/LimitedUserFriendListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFriends
      security:
        - authCookie: []
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offline'
      description: List information about friends.
  /user/{userId}/friendRequest:
    parameters:
      - $ref: '#/components/parameters/userId'
    post:
      summary: Send Friend Request
      tags:
        - friends
      operationId: friend
      description: Send a friend request to another user.
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '400':
          $ref: '#/components/responses/FriendBadRequestError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/UserDoesntExistError'
    delete:
      summary: Delete Friend Request
      tags:
        - friends
      operationId: deleteFriendRequest
      description: Deletes an outgoing pending friend request to another user. To delete an incoming friend request, use the `deleteNotification` endpoint instead.
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/DeleteFriendSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/DeleteFriendRequestError'
  /user/{userId}/friendStatus:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      summary: Check Friend Status
      tags:
        - friends
      responses:
        '200':
          $ref: '#/components/responses/FriendStatusResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      operationId: getFriendStatus
      security:
        - authCookie: []
      description: Retrieve if the user is currently a friend with a given user, if they have an outgoing friend request, and if they have an incoming friend request. The proper way to receive and accept friend request is by checking if the user has an incoming `Notification` of type `friendRequest`, and then accepting that notification.
  /auth/user/friends/{userId}:
    parameters:
      - $ref: '#/components/parameters/userId'
    delete:
      summary: Unfriend
      operationId: unfriend
      responses:
        '200':
          $ref: '#/components/responses/UnfriendSuccess'
        '400':
          $ref: '#/components/responses/NotFriendsError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      description: Unfriend a user by ID.
      security:
        - authCookie: []
      tags:
        - friends
  /groups:
    get:
      summary: Search Group
      description: Searches Groups by name or shortCode
      operationId: searchGroups
      tags:
        - groups
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: false
          description: Query to search for, can be either Group Name or Group shortCode
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/number'
      responses:
        '200':
          $ref: '#/components/responses/LimitedGroupListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
    post:
      summary: Create Group
      description: Creates a Group and returns a Group object. **Requires VRC+ Subscription.**
      operationId: createGroup
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      security:
        - authCookie: []
  /groups/roleTemplates:
    get:
      summary: Get Group Role Templates
      description: Obtain predefined templates for group roles
      operationId: getGroupRoleTemplates
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleTemplatesResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      security:
        - authCookie: []
  /groups/{groupId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: Get Group by ID
      description: Returns a single Group by ID.
      tags:
        - groups
      operationId: getGroup
      parameters:
        - in: query
          name: includeRoles
          schema:
            type: boolean
          required: false
          description: Include roles for the Group object. Defaults to false.
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    put:
      summary: Update Group
      description: Updates a Group and returns it.
      operationId: updateGroup
      tags:
        - groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    delete:
      summary: Delete Group
      operationId: deleteGroup
      tags:
        - groups
      description: Deletes a Group.
      responses:
        '200':
          $ref: '#/components/responses/DeleteGroupSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/announcement:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: Get Group Announcement
      description: |-
        Returns the announcement for a Group.
        If no announcement has been made, then it returns **empty object**. 
        If an announcement exists, then it will always return all fields except `imageId` and `imageUrl` which may be null.
      operationId: getGroupAnnouncements
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupAnnouncementResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    post:
      summary: Create Group Announcement
      description: 'Creates an Announcement for a Group. Warning: This will also remove all announcements. To make proper announcements, use the posts endpoint instead'
      operationId: createGroupAnnouncement
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupAnnouncementRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupAnnouncementResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    delete:
      summary: Delete Group Announcement
      description: Deletes the announcement for a Group.
      operationId: deleteGroupAnnouncement
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/DeleteGroupAnnouncementSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/auditLogs:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: Get Group Audit Logs
      description: Returns a list of audit logs for a Group.
      operationId: getGroupAuditLogs
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/actorIds'
        - $ref: '#/components/parameters/eventTypes'
        - $ref: '#/components/parameters/targetIds'
      responses:
        '200':
          $ref: '#/components/responses/GroupAuditLogListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/bans:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: Get Group Bans
      description: Returns a list of banned users for a Group.
      operationId: getGroupBans
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/NoPermission'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    post:
      summary: Ban Group Member
      description: Bans a user from a Group.
      operationId: banGroupMember
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanGroupMemberRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberResponse'
        '400':
          $ref: '#/components/responses/BanGroupMemberBadRequestError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/bans/{userId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
    delete:
      summary: Unban Group Member
      description: Unbans a user from a Group.
      operationId: unbanGroupMember
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/galleries:
    parameters:
      - $ref: '#/components/parameters/groupId'
    post:
      summary: Create Group Gallery
      description: Creates a gallery for a Group.
      operationId: createGroupGallery
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupGalleryRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupGalleryResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/galleries/{groupGalleryId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/groupGalleryId'
    get:
      summary: Get Group Gallery Images
      description: Returns a list of images for a Group gallery.
      operationId: getGroupGalleryImages
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - in: query
          name: approved
          required: false
          schema:
            type: boolean
          description: If specified, only returns images that have been approved or not approved.
      responses:
        '200':
          $ref: '#/components/responses/GroupGalleryImageListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    put:
      summary: Update Group Gallery
      description: Updates a gallery for a Group.
      operationId: updateGroupGallery
      tags:
        - groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupGalleryRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupGalleryResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    delete:
      summary: Delete Group Gallery
      description: Deletes a gallery for a Group.
      operationId: deleteGroupGallery
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/DeleteGroupGallerySuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/galleries/{groupGalleryId}/images:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/groupGalleryId'
    post:
      summary: Add Group Gallery Image
      description: Adds an image to a Group gallery.
      operationId: addGroupGalleryImage
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddGroupGalleryImageRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupGalleryImageResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/galleries/{groupGalleryId}/images/{groupGalleryImageId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/groupGalleryId'
      - $ref: '#/components/parameters/groupGalleryImageId'
    delete:
      summary: Delete Group Gallery Image
      description: Deletes an image from a Group gallery.
      operationId: deleteGroupGalleryImage
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/DeleteGroupGalleryImageSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupGalleryImageDeleteForbiddenError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/instances:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: Get Group Instances
      description: Returns a list of group instances
      operationId: getGroupInstances
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupInstanceListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/invites:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: Get Group Invites Sent
      description: Returns a list of members that have been invited to the Group.
      operationId: getGroupInvites
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    post:
      summary: Invite User to Group
      description: Sends an invite to a user to join the group.
      operationId: createGroupInvite
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupInviteRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/GroupInviteBadRequestError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupInviteForbiddenError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/invites/{userId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
    delete:
      summary: Delete User Invite
      description: Deletes an Group invite sent to a User
      operationId: deleteGroupInvite
      tags:
        - groups
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/DeleteGroupInviteBadRequestError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      security:
        - authCookie: []
  /groups/{groupId}/join:
    parameters:
      - $ref: '#/components/parameters/groupId'
    post:
      summary: Join Group
      description: Join a Group by ID and returns the member object.
      operationId: joinGroup
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberResponse'
        '400':
          $ref: '#/components/responses/GroupAlreadyMemberError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/leave:
    parameters:
      - $ref: '#/components/parameters/groupId'
    post:
      summary: Leave Group
      description: Leave a group by ID.
      operationId: leaveGroup
      tags:
        - groups
      responses:
        '200':
          description: OK
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/members:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: List Group Members
      description: |-
        Returns a List of all **other** Group Members. This endpoint will never return the user calling the endpoint.
        Information about the user calling the endpoint must be found in the `myMember` field of the Group object.
      operationId: getGroupMembers
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/groupMemberSort'
        - $ref: '#/components/parameters/groupMemberRoleFilter'
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberListResponse'
        '400':
          $ref: '#/components/responses/UsersInvalidSearchError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/members/{userId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
    get:
      summary: Get Group Member
      description: Returns a LimitedGroup Member.
      operationId: getGroupMember
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupLimitedMemberResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    put:
      summary: Update Group Member
      description: Updates a Group Member
      operationId: updateGroupMember
      tags:
        - groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupMemberRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupLimitedMemberResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    delete:
      summary: Kick Group Member
      description: Kicks a Group Member from the Group. The current user must have the "Remove Group Members" permission.
      operationId: kickGroupMember
      tags:
        - groups
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/members/{userId}/roles/{groupRoleId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/groupRoleId'
    put:
      summary: Add Role to GroupMember
      description: Adds a Role to a Group Member
      operationId: addGroupMemberRole
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleIDListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    delete:
      summary: Remove Role from GroupMember
      description: Removes a Role from a Group Member
      operationId: removeGroupMemberRole
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleIDListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/permissions:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: List Group Permissions
      description: Returns a List of all possible/available permissions for a Group.
      operationId: getGroupPermissions
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupPermissionListResponse'
        '400':
          $ref: '#/components/responses/UsersInvalidSearchError'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/posts:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: Get posts from a Group
      description: Get posts from a Group
      operationId: getGroupPosts
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - schema:
            type: boolean
          in: query
          name: publicOnly
          description: See public posts only.
      responses:
        '200':
          $ref: '#/components/responses/GroupPostsResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      security:
        - authCookie: []
    post:
      summary: Create a post in a Group
      description: Create a post in a Group.
      operationId: addGroupPost
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupPostRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupPostResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      security:
        - authCookie: []
  /groups/{groupId}/posts/{notificationId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/notificationId'
    delete:
      summary: Delete a Group post
      description: Delete a Group post
      operationId: deleteGroupPost
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupPostResponseSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupPostResponseSuccess'
      security:
        - authCookie: []
    put:
      summary: Edits a Group post
      description: Edits a Group post
      operationId: updateGroupPost
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupPostRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupPostResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupPostResponseSuccess'
      security:
        - authCookie: []
  /groups/{groupId}/representation:
    parameters:
      - $ref: '#/components/parameters/groupId'
    put:
      summary: Update Group Representation
      description: |-
        Updates whether the user is representing the group.

        When `isRepresenting` is set to `true`, this flag will be set to `false` for all other groups
      operationId: updateGroupRepresentation
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isRepresenting:
                  type: boolean
                  description: Whether the user is representing the group.
              required:
                - isRepresenting
      responses:
        '200':
          $ref: '#/components/responses/UpdateGroupRepresentationSuccess'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
      security:
        - authCookie: []
  /groups/{groupId}/requests:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: Get Group Join Requests
      description: Returns a list of members that have requested to join the Group.
      operationId: getGroupRequests
      tags:
        - groups
      parameters:
        - $ref: '#/components/parameters/number'
        - $ref: '#/components/parameters/offset'
        - schema:
            type: boolean
          in: query
          name: blocked
          description: See blocked join requests
      responses:
        '200':
          $ref: '#/components/responses/GroupMemberListResponse'
        '400':
          $ref: '#/components/responses/GroupJoinRequestResponseBadRequestError'
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    delete:
      summary: Cancel Group Join Request
      description: Cancels a request sent to join the group.
      operationId: cancelGroupRequest
      tags:
        - groups
      responses:
        '200':
          description: OK
        '400':
          description: You can't cancel a join request if you didn't request to join․
        '403':
          $ref: '#/components/responses/GroupNotMemberError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/requests/{userId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
    put:
      summary: Respond Group Join request
      description: Responds to a Group Join Request with Accept/Deny
      operationId: respondGroupJoinRequest
      tags:
        - groups
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondGroupJoinRequest'
      security:
        - authCookie: []
  /groups/{groupId}/roles:
    parameters:
      - $ref: '#/components/parameters/groupId'
    get:
      summary: Get Group Roles
      description: Returns a Group Role by ID.
      operationId: getGroupRoles
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
    post:
      summary: Create GroupRole
      description: Create a Group role.
      operationId: createGroupRole
      tags:
        - groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotFoundError'
      security:
        - authCookie: []
  /groups/{groupId}/roles/{groupRoleId}:
    parameters:
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/groupRoleId'
    put:
      summary: Update Group Role
      description: Updates a group role by ID.
      operationId: updateGroupRole
      tags:
        - groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      security:
        - authCookie: []
    delete:
      summary: Delete Group Role
      description: Deletes a Group Role by ID and returns the remaining roles.
      operationId: deleteGroupRole
      tags:
        - groups
      responses:
        '200':
          $ref: '#/components/responses/GroupRoleListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/GroupNotMemberError'
      security:
        - authCookie: []
  /inventory:
    parameters:
      - $ref: '#/components/parameters/number'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/inventorySortOrder'
      - $ref: '#/components/parameters/inventoryItemType'
    get:
      summary: Get Inventory
      operationId: getInventory
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/InventoryResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - inventory
      description: Returns an Inventory object.
  /inventory/{inventoryItemId}:
    parameters:
      - $ref: '#/components/parameters/inventoryItemId'
    get:
      summary: Get Own Inventory Item
      operationId: getOwnInventoryItem
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/InventoryItemResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - inventory
      description: Returns an InventoryItem object held by the currently logged in user.
  /inventory/drops:
    parameters:
      - $ref: '#/components/parameters/active'
    get:
      summary: List Inventory Drops
      operationId: getInventoryDrops
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/InventoryDropListResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - inventory
      description: Returns a list of InventoryDrop objects.
  /inventory/template/{inventoryTemplateId}:
    parameters:
      - $ref: '#/components/parameters/inventoryTemplateId'
    get:
      summary: Get Inventory Template
      operationId: getInventoryTemplate
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/InventoryTemplateResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - inventory
      description: Returns an InventoryTemplate object.
  /inventory/spawn:
    parameters:
      - $ref: '#/components/parameters/inventorySpawnItemId'
    get:
      summary: Spawn Inventory Item
      operationId: spawnInventoryItem
      security:
        - authCookie: []
      responses:
        '200':
          $ref: '#/components/responses/InventorySpawnResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
      tags:
        - inventory
      description: Returns an InventorySpawn object.
  /invite/{userId}:
    parameters:
      - $ref: '#/components/parameters/userId'
    post:
      summary: Invite User
      tags:
        - invite
      responses:
        '200':
          $ref: '#/components/responses/SendNotificationResponse'
        '403':
          $ref: '#/components/responses/InviteMustBeFriendsError'
      operationId: inviteUser
      security:
        - authCookie: []
      description: Sends an invite to a user. Returns the Notification of type `invite` that was sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteRequest'
        description: Slot number of the Invite Message to use when inviting a user.
  /invite/{userId}/photo:
    parameters:
      - $ref: '#/components/parameters/userId'
    post:
      summary: Invite User with photo
      tags:
        - invite
      responses:
        '200':
          $ref: '#/components/responses/SendNotificationResponse'
        '403':
          $ref: '#/components/responses/InviteMustBeFriendsError'
      operationId: inviteUserWithPhoto
      security:
        - authCookie: []
      description: Sends an photo invite to a user. Returns the Notification of type `invite` that was sent.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: The binary blob of the png file.
                data:
                  $ref: '#/components/schemas/InviteRequest'
              required:
                - image
                - data
  /invite/myself/to/{worldId}:{instanceId}:
    parameters:
      - $ref: '#/components/parameters/worldId'
      - $ref: '#/components/parameters/instanceId'
    post:
      summary: Invite Myself To Instance
      tags:
        - invite
      operationId: inviteMyselfTo
      security:
        - authCookie: []
      description: Sends self an invite to an instance
      responses:
        '200':
          $ref: '#/components/responses/SendNotificationResponse'
        '401':
          $ref: '#/components/responses/MissingCredentialsError'
        '404':
          $ref: '#/components/responses/InstanceNotFoundError'
  /requestInvite/{userId}:
    parameters:
      - $ref: '#/components/parameters/userId'
    post:
      summary: Request Invite
      operationId: requestInvite
      security:
        - authCookie: []
      description: Requests an invite from a user. Returns the Notification of type `requestInvite` that was sent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestInviteRequest'
        description: Slot number of the Request Message to use when request an invite.
      tags:
        - invite
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '403':
          $ref: '#/components/responses/InviteMustBeFriendsError'
  /requestInvite/{userId}/photo:
    parameters:
      - $ref: '#/components/parameters/userId'
    post:
      summary: Request Invite with photo
      operationId: requestInviteWithPhoto
      security:
        - authCookie: []
      description: Requests with photo an invite from a user. Returns the Notification of type `requestInvite` that was sent.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: The binary blob of the png file.
                data:
                  $ref: '#/components/schemas/RequestInviteRequest'
              required:
                - image
                - data
      tags:
        - invite
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '403':
          $ref: '#/components/responses/InviteMustBeFriendsError'
  /invite/{notificationId}/response:
    parameters:
      - $ref: '#/components/parameters/notificationId'
    post:
      summary: Respond Invite
      tags:
        - invite
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '400':
          $ref: '#/components/responses/InviteResponse400Error'
      operationId: respondInvite
      security:
        - authCookie: []
      description: |-
        Respond to an invite or invite request without accepting it. `:notificationId` is the ID of the requesting notification.

        In case the notification being replied to is an invite, the `responseSlot` refers to a response message from the the `message` collection.
        In case the notification is an invite request, it will refer to one from the `requestResponse` collection instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteResponse'
[...]
